.andreaVersionChild {
  top: 2385px;
  left: 513px;
  background: linear-gradient(
    -74.47deg,
    rgba(10, 35, 252, 0.5),
    rgba(0, 8, 77, 0)
  );
  height: 462px;
}
.andreaVersionChild,
.andreaVersionInner,
.andreaVersionItem,
.rectangleDiv {
  position: absolute;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  width: 952px;
  mix-blend-mode: normal;
}
.andreaVersionItem {
  top: 1109px;
  left: 954px;
  background: linear-gradient(
    101.75deg,
    rgba(10, 35, 252, 0.5),
    rgba(0, 8, 77, 0)
  );
  height: 512px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.andreaVersionInner,
.rectangleDiv {
  top: 1628px;
  left: 506px;
  background: linear-gradient(
    -74.47deg,
    rgba(10, 35, 252, 0.5),
    rgba(0, 8, 77, 0)
  );
  height: 439px;
}
.rectangleDiv {
  top: 2041px;
  left: 954px;
  height: 346px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktopWallpaperAbstractNeoIcon {
  position: absolute;
  top: 9px;
  left: 0;
  width: 1440px;
  height: 762px;
  object-fit: cover;
}
.desktopWallpaperAbstractNeoIcon1,
.desktopWallpaperAbstractNeoIcon2 {
  position: absolute;
  top: 4893.56px;
  left: 0;
  width: 1440px;
  height: 249.44px;
  object-fit: cover;
}
.desktopWallpaperAbstractNeoIcon2 {
  top: 3982px;
  left: 3px;
  height: 700px;
}
.xpander {
  position: absolute;
  top: 1346.52px;
  left: 315px;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 98px;
  height: 34.41px;
}
.desktopWallpaperAbstractNeoParent {
  position: absolute;
  top: -9px;
  left: 0;
  width: 1443px;
  height: 5143px;
  opacity: 0.6;
  color: var(--contrast-black70);
}
.andreaVersionChild1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-midnightblue);
  width: 1440px;
  height: 84px;
  mix-blend-mode: normal;
}
.andreaVersionChild2 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1440px;
  height: 600px;
}
.ode {
  font-size: var(--h6sb-size);
}
.buildOnCodex,
.codexIsAContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 600;
}
.codexIsAContainer {
  align-self: stretch;
  text-transform: lowercase;
  font-size: var(--font-size-11xl);
}
.buildOnCodex {
  text-transform: capitalize;
}
.buildOnCodexWrapper {
  border-radius: var(--br-5xs);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  padding: var(--padding-base) var(--padding-13xl);
}
.buildOnCodexWrapper,
.buildingWidelyUsedWeb3ApplParent,
.eksploreWhitepaperWrapper,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.eksploreWhitepaperWrapper {
  border-radius: var(--br-5xs);
  padding: var(--padding-base) var(--padding-13xl);
}
.buildingWidelyUsedWeb3ApplParent,
.frameParent {
  gap: var(--gap-13xl);
  font-size: var(--h6sb-size);
}
.buildingWidelyUsedWeb3ApplParent {
  position: absolute;
  top: 154px;
  left: 720px;
  width: 630px;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-0);
  box-sizing: border-box;
  font-size: var(--h1sb-size);
}
.theFirstEcosystem,
.theFutureProofNetwork {
  letter-spacing: 0.05em;
  line-height: 140%;
  font-weight: 600;
}
.theFirstEcosystem {
  position: absolute;
  top: 845px;
  left: 144px;
  font-size: var(--h1sb-size);
  text-transform: capitalize;
  display: inline-block;
  width: 580px;
}
.theFutureProofNetwork {
  align-self: stretch;
  position: relative;
}
.theFutureProofNetwork,
.with {
  text-transform: capitalize;
}
.aUniqueCombination {
  text-transform: lowercase;
}
.withAUniqueContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--h6sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
}
.theFutureProofNetworkParent {
  position: absolute;
  top: 815px;
  left: 744px;
  width: 563px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--h4sb-size);
}
.theCodexFoundation {
  margin: 0;
}
.theCodexFoundationContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 520px;
  flex-shrink: 0;
}
.missionParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.coreFocus,
.theCodexFoundation1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.coreFocus {
  font-size: var(--h4sb-size);
  line-height: 140%;
  text-transform: capitalize;
}
.theCodexFoundation1 {
  line-height: 160%;
  color: #d9d9d9;
}
.span {
  color: var(--color-deepskyblue);
}
.fosterParticipationAndContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 600;
}
.coreFocusParent,
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.coreFocusParent {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--h6sb-size);
}
.frameGroup {
  width: 628px;
  flex-shrink: 0;
  gap: var(--gap-xl);
  font-size: var(--h4sb-size);
}
.theCodexFoundationIsKeyBeParent {
  position: absolute;
  top: 3988px;
  left: 84px;
  border-radius: var(--br-5xs);
  width: 1280px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--h1sb-size);
}
.codexTokenomicsOverview,
.theCodexFoundation2 {
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.codexTokenomicsOverview {
  position: absolute;
  top: 2917px;
  left: 372px;
  font-size: var(--h1sb-size);
  line-height: 140%;
  text-align: center;
  width: 721px;
}
.theCodexFoundation2 {
  position: relative;
  line-height: 160%;
  width: 872px;
}
.theCodexFoundationPresentsWrapper {
  position: absolute;
  top: 3016px;
  left: 151px;
  width: 1163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.viewTokenomicsWrapper {
  position: absolute;
  top: 3112px;
  left: 599.5px;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.xpander1 {
  position: absolute;
  top: 1490px;
  left: 784px;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--contrast-black70);
  display: inline-block;
  width: 98px;
}
.groupChild {
  top: 3px;
  left: 0;
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
}
.groupChild,
.groupInner,
.groupItem {
  position: absolute;
  border-radius: var(--br-sm);
  width: 373px;
  height: 280px;
}
.groupItem {
  top: 2px;
  left: 434px;
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
}
.groupInner {
  top: 0;
  left: 868px;
  background-color: var(--primary-sky-blue);
}
.participateInOpenContainer {
  position: absolute;
  top: 92px;
  left: 30px;
  font-size: var(--p1sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  width: 326px;
  height: 104px;
}
.discussionForum,
.getInvolved {
  position: absolute;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
}
.discussionForum {
  top: 24px;
  left: 29px;
  line-height: 140%;
  display: inline-block;
  width: 328px;
}
.getInvolved {
  top: 204px;
  left: 30px;
  font-size: var(--h6sb-size);
  line-height: 160%;
  color: var(--color-skyblue);
}
.documentation,
.guidesToDevelop {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.documentation {
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  width: 290px;
}
.guidesToDevelop {
  align-self: stretch;
  font-size: var(--p1sb-size);
  line-height: 160%;
  font-weight: 500;
  height: 104px;
  flex-shrink: 0;
}
.documentationParent {
  position: absolute;
  top: 24px;
  left: calc(50% - 158.5px);
  width: 314px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.getStarted,
.joinOurTelegram {
  letter-spacing: 0.05em;
  line-height: 160%;
}
.getStarted {
  position: absolute;
  top: 202px;
  left: 463px;
  font-size: var(--h6sb-size);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.joinOurTelegram {
  position: relative;
  font-size: var(--p1sb-size);
  font-weight: 500;
  display: inline-block;
  width: 332px;
  height: 104px;
  flex-shrink: 0;
}
.joinUs,
.telegramParent {
  position: absolute;
  left: 892px;
}
.telegramParent {
  top: 22px;
  width: 349px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.joinUs {
  top: 200px;
  font-size: var(--h6sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.groupChild1,
.groupChild2,
.groupChild3 {
  position: absolute;
  top: 324px;
  left: 870px;
  border-radius: var(--br-sm);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  width: 373px;
  height: 280px;
}
.groupChild2,
.groupChild3 {
  top: 323px;
  left: 0;
}
.groupChild3 {
  top: 325px;
  left: 434px;
}
.participateInOpenContainer1 {
  position: absolute;
  top: 422px;
  left: 30px;
  font-size: var(--p1sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  width: 326px;
  height: 104px;
}
.discussionForum1,
.getInvolved1 {
  position: absolute;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
}
.discussionForum1 {
  top: 354px;
  left: 29px;
  line-height: 140%;
  display: inline-block;
  width: 328px;
}
.getInvolved1 {
  top: 534px;
  left: 30px;
  font-size: var(--h6sb-size);
  line-height: 160%;
  color: var(--color-skyblue);
}
.documentationGroup {
  position: absolute;
  top: 354px;
  left: calc(50% - 158.5px);
  width: 314px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.getStarted1 {
  position: absolute;
  top: 532px;
  left: 463px;
  font-size: var(--h6sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.discordParent,
.joinUs1 {
  position: absolute;
  left: 892px;
}
.discordParent {
  top: 352px;
  width: 349px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.joinUs1 {
  top: 530px;
  font-size: var(--h6sb-size);
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.rectangleParent {
  position: absolute;
  top: 3281px;
  left: 110px;
  width: 1243px;
  height: 605px;
  font-size: var(--h3sb-size);
}
.image12Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logoNew {
  position: relative;
  width: 226.57px;
  height: 120px;
  flex-shrink: 0;
}
.communityParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frameDiv,
.logoNewParent {
  display: flex;
  flex-direction: row;
}
.frameDiv {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-29xl);
}
.logoNewParent {
  width: 632px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
}
.mditwitterIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.mditwitterParent {
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-29xl);
}
.findUsParent,
.frameContainer,
.mditwitterParent {
  display: flex;
  align-items: flex-start;
}
.findUsParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameContainer {
  position: absolute;
  top: 4670px;
  left: 5px;
  background-color: var(--color-midnightblue);
  width: 1440px;
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-61xl) var(--padding-77xl);
  box-sizing: border-box;
  justify-content: space-between;
  font-size: var(--p1sb-size);
}
.xpander2 {
  position: absolute;
  top: 1417px;
  left: 130px;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-gray-700);
  display: inline-block;
  width: 98px;
}
.andreaVersionChild3 {
  position: absolute;
  top: 1173px;
  left: 99px;
  border-radius: var(--br-sm);
  background-color: var(--primary-sky-blue);
  border: 3px solid var(--wireframe2);
  box-sizing: border-box;
  width: 160px;
  height: 160px;
}
.lineDiv {
  position: absolute;
  top: 3978px;
  left: -2px;
  width: 233px;
  height: 0;
}
.simpleDevelopmentEnjoyable,
.userExperiance {
  position: absolute;
  left: 784px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.userExperiance {
  top: 2409px;
  line-height: 160%;
  color: var(--contrast-black70);
  width: 198px;
}
.simpleDevelopmentEnjoyable {
  top: 2444px;
  font-size: var(--h3sb-size);
  line-height: 140%;
  width: 595px;
}
.joinTheCodex,
.theEcosystemBeing {
  position: absolute;
  left: 784px;
  line-height: 160%;
}
.theEcosystemBeing {
  top: 2550px;
  font-size: var(--p1sb-size);
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  width: 595px;
}
.joinTheCodex {
  top: 2748px;
  text-transform: lowercase;
  font-weight: 600;
  font-family: var(--font-inter);
  background: linear-gradient(
    270deg,
    #00c2ff,
    #5a72c9 34.38%,
    #03c3ff 61.98%,
    #5e89f8 98.44%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.andreaVersionChild4 {
  position: absolute;
  top: 2426px;
  left: 582px;
  border-radius: var(--br-sm);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  width: 160px;
  height: 160px;
}
.andreaVersionChild5,
.andreaVersionChild6 {
  position: absolute;
  top: 2853px;
  left: 2px;
  width: 233px;
  height: 0;
}
.andreaVersionChild6 {
  top: 1120px;
  left: -5px;
}
.andreaVersionChild7,
.andreaVersionChild8,
.andreaVersionChild9 {
  position: absolute;
  top: 756px;
  left: 1207px;
  width: 233px;
  height: 0;
}
.andreaVersionChild8,
.andreaVersionChild9 {
  top: 1621px;
}
.andreaVersionChild9 {
  top: 2387px;
}
.groupChild4,
.groupDiv {
  position: absolute;
  width: 160px;
  height: 160px;
}
.groupChild4 {
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
}
.groupDiv {
  top: 1709px;
  left: 582px;
}
.communityGroup {
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.buildOnCodexContainer,
.communityGroup,
.frameParent1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buildOnCodexContainer {
  border-radius: var(--br-9xs);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  padding: var(--padding-5xs) var(--padding-base);
  align-items: flex-start;
}
.frameParent1 {
  position: absolute;
  top: 27px;
  left: 736px;
  align-items: center;
  gap: var(--gap-29xl);
  font-size: var(--p1sb-size);
}
.logoNew1 {
  position: absolute;
  top: 189px;
  left: 93px;
  width: 556px;
  height: 373px;
}
.simplifiedLanguageBlock,
.xpander3 {
  position: relative;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.xpander3 {
  line-height: 160%;
  color: var(--contrast-black70);
  width: 140px;
}
.simplifiedLanguageBlock {
  font-size: var(--h3sb-size);
  line-height: 140%;
  width: 595px;
}
.designed {
  font-weight: 500;
}
.x {
  font-size: var(--h6sb-size);
  font-family: var(--p1sb);
}
.designedForAllContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  display: inline-block;
  width: 595px;
  font-size: var(--p1sb-size);
}
.joinTheCodex1 {
  position: relative;
  line-height: 160%;
  text-transform: lowercase;
  font-weight: 600;
  font-family: var(--font-inter);
  background: linear-gradient(
    -90deg,
    #00c2ff,
    #5a72c9 34.38%,
    #03c3ff 61.98%,
    #5e89f8 98.44%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.xpanderParent {
  position: absolute;
  top: 1170px;
  left: 314px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.combiningTheEthereum,
.upgradeability {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  display: inline-block;
}
.upgradeability {
  font-weight: 600;
  color: var(--contrast-black70);
  width: 160px;
}
.combiningTheEthereum {
  font-size: var(--p1sb-size);
  font-weight: 500;
  width: 595px;
}
.joinTheCodex2 {
  position: relative;
  line-height: 160%;
  text-transform: lowercase;
  font-weight: 600;
  font-family: var(--font-inter);
  background: linear-gradient(
    270deg,
    #00c2ff,
    #5a72c9 34.38%,
    #03c3ff 61.98%,
    #5e89f8 98.44%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.upgradeabilityParent {
  position: absolute;
  top: 1702px;
  left: 784px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.codexCommunityWrapper {
  border-radius: var(--br-8xs);
  background-color: var(--primary-blue);
}
.codexCommunityWrapper,
.discussionForumWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.ecosystemProjects {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  opacity: 0.5;
}
.frameParent2 {
  position: absolute;
  top: 84px;
  left: 727px;
  border-radius: var(--br-10xs);
  background-color: var(--color-midnightblue);
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--p1sb-size);
}
.andreaVersionChild10 {
  position: absolute;
  top: 3253px;
  left: 1197px;
  width: 233px;
  height: 0;
}
.groupIcon,
.groupIcon1,
.groupIcon2,
.image12Icon2 {
  position: absolute;
  height: 2.08%;
  width: 7.59%;
  top: 23.85%;
  right: 83.8%;
  bottom: 74.07%;
  left: 8.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1,
.groupIcon2,
.image12Icon2 {
  height: 2.16%;
  width: 7.79%;
  top: 34.56%;
  right: 50.13%;
  bottom: 63.27%;
  left: 42.08%;
}
.groupIcon2,
.image12Icon2 {
  height: 2.32%;
  width: 8.86%;
  top: 48.82%;
  right: 49.61%;
  bottom: 48.86%;
  left: 41.53%;
}
.image12Icon2 {
  height: 100%;
  width: 100%;
  top: 7.41%;
  right: 0;
  bottom: -7.41%;
  left: 0;
  object-fit: cover;
}
.logoNew2 {
  position: absolute;
  top: -6px;
  left: 38px;
  width: 150px;
  height: 81px;
}
.andreaVersion {
  position: relative;
  background-color: var(--black-100);
  width: 100%;
  height: 5014px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h6sb-size);
  color: var(--wireframe2);
  font-family: var(--p1sb);
}
