.appbunzzdevByHtmltodesigChild,
.divcss120bx7oChild {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  width: 1424px;
  height: 267px;
}
.divcss120bx7oChild {
  top: 1px;
  left: -1px;
}
.svgh2d9722522dIcon {
  position: absolute;
  top: calc(50% - 20.5px);
  left: 0;
  width: 122px;
  height: 41px;
  overflow: hidden;
}
.blog,
.contact,
.documentation,
.explorer,
.features {
  position: absolute;
  top: 9px;
  left: 0;
  line-height: 24px;
}
.blog,
.contact,
.documentation,
.features {
  left: 71.89px;
}
.blog,
.contact,
.features {
  left: 197.38px;
}
.blog,
.contact {
  left: 273.2px;
}
.contact {
  left: 316.51px;
}
.divchakraStack,
.divcss2gr2zr {
  position: absolute;
  top: 0;
  left: 961.89px;
  width: 376.11px;
  height: 41px;
}
.divcss2gr2zr {
  top: 35px;
  left: 43px;
  width: 1338px;
}
.div,
.merkleproofwrapper {
  position: relative;
  line-height: 24px;
}
.div {
  color: var(--color-gray-1900);
}
.divchakraStack2,
.divchakraStack3 {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs-5) var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.99px;
}
.divchakraStack3 {
  left: 169.71px;
  gap: 7.74px;
}
.imerkleproofwrappersol {
  position: absolute;
  top: 2.5px;
  left: 264.16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 179.97px;
  height: 19px;
}
.divchakraStack1 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 1120px;
  height: 24px;
}
.customizeThisCode {
  position: relative;
  line-height: 19.2px;
  font-weight: 600;
}
.buttonchakraButton {
  position: absolute;
  top: 96px;
  left: 860px;
  border-radius: var(--br-7xs);
  background-color: var(--color-royalblue-200);
  display: flex;
  flex-direction: row;
  padding: 10.399999618530273px 9.139999389648438px 9.600000381469727px
    19.860000610351562px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--wireframe2);
}
.pragma,
.solidity,
.spdxLicenseIdentifierMit {
  position: absolute;
  left: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.spdxLicenseIdentifierMit {
  top: 18px;
  color: var(--contrast-black70);
  width: 297.85px;
}
.pragma,
.solidity {
  top: 66px;
  width: 57.81px;
}
.solidity {
  left: 83.21px;
  width: 77.01px;
}
.span {
  color: var(--color-sandybrown);
}
.txt {
  line-break: anywhere;
  width: 100%;
}
.div2 {
  position: absolute;
  top: 66px;
  left: 169.63px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 67.41px;
  height: 20px;
  color: #67cdcc;
}
.interface {
  left: 16px;
  width: 86.61px;
}
.div3,
.imerkleproofwrapper,
.interface {
  position: absolute;
  top: 114px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.imerkleproofwrapper {
  left: 112.02px;
  color: #f8c555;
  width: 182.63px;
}
.div3 {
  left: 304.05px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.function {
  top: 138px;
  left: 54.41px;
  width: 77.01px;
}
.bytes32,
.function,
.verify {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.verify {
  top: 138px;
  left: 140.82px;
  width: 67.41px;
  color: var(--color-sandybrown);
}
.bytes32 {
  top: 162px;
  left: 92.81px;
  width: 86.62px;
}
.proof {
  color: var(--color-lightgray-200);
}
.memoryProof {
  position: absolute;
  top: 162px;
  left: 188.83px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 125.02px;
  height: 20px;
}
.bytes32Root {
  margin: 0;
}
.bytes32RootBytes32Container,
.div4,
.external,
.pure,
.returns {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.bytes32RootBytes32Container {
  top: 186px;
  left: 92.81px;
  width: 125.02px;
  height: 44px;
}
.div4,
.external,
.pure,
.returns {
  top: 234px;
  height: 20px;
}
.div4 {
  left: 54.41px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.external,
.pure,
.returns {
  left: 73.61px;
  width: 77.01px;
}
.pure,
.returns {
  left: 160.02px;
  width: 38.61px;
}
.returns {
  left: 208.03px;
  width: 67.41px;
}
.bool1 {
  color: var(--color-plum);
}
.bool {
  position: absolute;
  top: 234px;
  left: 284.84px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 67.41px;
  height: 20px;
  color: var(--color-lightgray-200);
}
.function1 {
  top: 282px;
  left: 54.41px;
  width: 77.01px;
}
.bytes322,
.bytes32RootBytes32Container2,
.calldataProof,
.function1,
.verifycalldata {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.verifycalldata {
  top: 282px;
  left: 140.82px;
  width: 144.22px;
  color: var(--color-sandybrown);
}
.bytes322,
.bytes32RootBytes32Container2,
.calldataProof {
  top: 306px;
  left: 92.81px;
  width: 86.62px;
}
.bytes32RootBytes32Container2,
.calldataProof {
  left: 188.83px;
  width: 144.22px;
}
.bytes32RootBytes32Container2 {
  top: 330px;
  left: 92.81px;
  width: 125.02px;
  height: 44px;
}
.bool2,
.div5,
.external1,
.pure1,
.returns1 {
  position: absolute;
  top: 378px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.div5 {
  left: 54.41px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.bool2,
.external1,
.pure1,
.returns1 {
  left: 73.61px;
  width: 77.01px;
}
.bool2,
.pure1,
.returns1 {
  left: 160.02px;
  width: 38.61px;
}
.bool2,
.returns1 {
  left: 208.03px;
  width: 67.41px;
}
.bool2 {
  left: 284.84px;
  color: var(--color-lightgray-200);
}
.function2 {
  left: 54.41px;
  width: 77.01px;
}
.bytes32Leaf,
.external2,
.function2,
.memoryProof1,
.processproofbytes32,
.pure2 {
  position: absolute;
  top: 426px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.processproofbytes32 {
  left: 140.82px;
  width: 211.43px;
  color: var(--color-lightgray-200);
}
.bytes32Leaf,
.external2,
.memoryProof1,
.pure2 {
  left: 361.66px;
  width: 125.02px;
}
.bytes32Leaf,
.external2,
.pure2 {
  left: 496.08px;
}
.external2,
.pure2 {
  left: 630.5px;
  width: 77.01px;
}
.pure2 {
  left: 716.91px;
  width: 38.61px;
}
.returns2 {
  top: 426px;
  left: 764.92px;
  width: 67.41px;
}
.bytes325,
.function3,
.processproofcalldatabytes32,
.returns2 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.bytes325 {
  top: 426px;
  left: 841.73px;
  width: 96.22px;
  color: var(--color-lightgray-200);
}
.function3,
.processproofcalldatabytes32 {
  top: 474px;
  left: 54.41px;
  width: 77.01px;
}
.processproofcalldatabytes32 {
  left: 140.82px;
  width: 288.25px;
  color: var(--color-lightgray-200);
}
.bytes328,
.bytes32Leaf1,
.calldataProof1,
.external3,
.pure3,
.returns3 {
  position: absolute;
  top: 474px;
  left: 438.47px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 144.22px;
  height: 20px;
}
.bytes328,
.bytes32Leaf1,
.external3,
.pure3,
.returns3 {
  left: 592.09px;
  width: 125.02px;
}
.bytes328,
.external3,
.pure3,
.returns3 {
  left: 726.52px;
  width: 77.01px;
}
.bytes328,
.pure3,
.returns3 {
  left: 812.93px;
  width: 38.61px;
}
.bytes328,
.returns3 {
  left: 860.94px;
  width: 67.41px;
}
.bytes328 {
  left: 937.75px;
  width: 96.22px;
  color: var(--color-lightgray-200);
}
.function4 {
  top: 522px;
  left: 54.41px;
  width: 77.01px;
}
.bool4,
.bytes3210,
.function4,
.memoryProofs,
.multiproofverify {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.multiproofverify {
  top: 522px;
  left: 140.82px;
  width: 163.43px;
  color: var(--color-sandybrown);
}
.bool4,
.bytes3210,
.memoryProofs {
  top: 546px;
  left: 92.81px;
  width: 86.62px;
}
.bool4,
.memoryProofs {
  left: 188.83px;
  width: 134.62px;
}
.bool4 {
  top: 570px;
  left: 92.81px;
  width: 57.81px;
}
.memoryProofflag {
  top: 570px;
  left: 160.02px;
  width: 163.43px;
  height: 20px;
}
.bytes32RootBytes32Container4,
.div6,
.external4,
.memory,
.memoryProofflag,
.pure4 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.bytes32RootBytes32Container4 {
  top: 594px;
  left: 92.81px;
  width: 125.02px;
  height: 44px;
}
.div6,
.external4,
.memory,
.pure4 {
  height: 20px;
}
.memory {
  top: 618px;
  left: 188.83px;
  width: 57.81px;
}
.div6,
.external4,
.pure4 {
  top: 642px;
}
.div6 {
  left: 54.41px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.external4,
.pure4 {
  left: 73.61px;
  width: 77.01px;
}
.pure4 {
  left: 160.02px;
  width: 38.61px;
}
.returns4 {
  top: 642px;
  left: 208.03px;
  width: 67.41px;
}
.bool5,
.function5,
.multiproofverifycalldata,
.returns4 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.bool5 {
  top: 642px;
  left: 284.84px;
  width: 67.41px;
  color: var(--color-lightgray-200);
}
.function5,
.multiproofverifycalldata {
  top: 690px;
  left: 54.41px;
  width: 77.01px;
}
.multiproofverifycalldata {
  left: 140.82px;
  width: 240.24px;
  color: var(--color-sandybrown);
}
.bool7,
.bytes3212,
.bytes32RootBytes32Container6,
.calldataProofflag,
.calldataProofs {
  position: absolute;
  top: 714px;
  left: 92.81px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 86.62px;
  height: 20px;
}
.bool7,
.bytes32RootBytes32Container6,
.calldataProofflag,
.calldataProofs {
  left: 188.83px;
  width: 153.82px;
}
.bool7,
.bytes32RootBytes32Container6,
.calldataProofflag {
  top: 738px;
  left: 92.81px;
  width: 57.81px;
}
.bytes32RootBytes32Container6,
.calldataProofflag {
  left: 160.02px;
  width: 182.63px;
}
.bytes32RootBytes32Container6 {
  top: 762px;
  left: 92.81px;
  width: 125.02px;
  height: 44px;
}
.bool8,
.div7,
.external5,
.memory1,
.pure5,
.returns5 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.memory1 {
  top: 786px;
  left: 188.83px;
  width: 57.81px;
}
.bool8,
.div7,
.external5,
.pure5,
.returns5 {
  top: 810px;
}
.div7 {
  left: 54.41px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.bool8,
.external5,
.pure5,
.returns5 {
  left: 73.61px;
  width: 77.01px;
}
.bool8,
.pure5,
.returns5 {
  left: 160.02px;
  width: 38.61px;
}
.bool8,
.returns5 {
  left: 208.03px;
  width: 67.41px;
}
.bool8 {
  left: 284.84px;
  color: var(--color-lightgray-200);
}
.function6 {
  top: 858px;
  left: 54.41px;
  width: 77.01px;
}
.bool10,
.bytes3214,
.function6,
.memoryProofflag1,
.memoryProofs1,
.processmultiproof {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.processmultiproof {
  top: 858px;
  left: 140.82px;
  width: 173.03px;
  color: var(--color-sandybrown);
}
.bool10,
.bytes3214,
.memoryProofflag1,
.memoryProofs1 {
  top: 882px;
  left: 92.81px;
  width: 86.62px;
}
.bool10,
.memoryProofflag1,
.memoryProofs1 {
  left: 188.83px;
  width: 134.62px;
}
.bool10,
.memoryProofflag1 {
  top: 906px;
  left: 92.81px;
  width: 57.81px;
}
.memoryProofflag1 {
  left: 160.02px;
  width: 163.43px;
}
.bytes3215 {
  top: 930px;
  left: 92.81px;
  width: 86.62px;
}
.bytes3215,
.div8,
.external6,
.memory2,
.pure6 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.memory2 {
  top: 930px;
  left: 188.83px;
  width: 57.81px;
}
.div8,
.external6,
.pure6 {
  top: 954px;
}
.div8 {
  left: 54.41px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.external6,
.pure6 {
  left: 73.61px;
  width: 77.01px;
}
.pure6 {
  left: 160.02px;
  width: 38.61px;
}
.returns6 {
  top: 954px;
  left: 208.03px;
  width: 67.41px;
}
.bytes3216,
.function7,
.processmultiproofcalldata,
.returns6 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.bytes3216 {
  top: 954px;
  left: 284.84px;
  width: 96.22px;
  color: var(--color-lightgray-200);
}
.function7,
.processmultiproofcalldata {
  top: 1002px;
  left: 54.41px;
  width: 77.01px;
}
.processmultiproofcalldata {
  left: 140.82px;
  width: 249.84px;
  color: var(--color-sandybrown);
}
.bool11,
.bytes3218,
.calldataProofflag1,
.calldataProofs1 {
  position: absolute;
  top: 1026px;
  left: 92.81px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 86.62px;
  height: 20px;
}
.bool11,
.calldataProofflag1,
.calldataProofs1 {
  left: 188.83px;
  width: 153.82px;
}
.bool11,
.calldataProofflag1 {
  top: 1050px;
  left: 92.81px;
  width: 57.81px;
}
.calldataProofflag1 {
  left: 160.02px;
  width: 182.63px;
}
.bytes3219 {
  top: 1074px;
  left: 92.81px;
  width: 86.62px;
}
.bytes3219,
.bytes3220,
.div10,
.div9,
.external7,
.memory3,
.pure7,
.returns7 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 20px;
}
.memory3 {
  top: 1074px;
  left: 188.83px;
  width: 57.81px;
}
.bytes3220,
.div10,
.div9,
.external7,
.pure7,
.returns7 {
  top: 1098px;
}
.div9 {
  left: 54.41px;
  color: var(--color-lightgray-200);
  width: 9.8px;
}
.bytes3220,
.div10,
.external7,
.pure7,
.returns7 {
  left: 73.61px;
  width: 77.01px;
}
.bytes3220,
.div10,
.pure7,
.returns7 {
  left: 160.02px;
  width: 38.61px;
}
.bytes3220,
.div10,
.returns7 {
  left: 208.03px;
  width: 67.41px;
}
.bytes3220,
.div10 {
  left: 284.84px;
  width: 96.22px;
  color: var(--color-lightgray-200);
}
.div10 {
  top: 1122px;
  left: 16px;
  width: 9.8px;
}
.prelanguageSolidity {
  position: absolute;
  top: 144px;
  left: 0;
  background-color: #2d2d2d;
  width: 1120px;
  height: 1160px;
  overflow: hidden;
  color: var(--color-plum);
  font-family: var(--font-ubuntu-mono);
}
.divcssOvn3gg {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 1120px;
}
.divcssOh1d2g {
  position: absolute;
  width: 100%;
  top: 200px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-1300);
  height: 1352px;
}
.divcss100mnyh {
  position: absolute;
  width: calc(100% - 224px);
  top: 109px;
  right: 112px;
  left: 112px;
  height: 1552px;
  color: var(--color-royalblue-100);
}
.divcss120bx7o {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1500);
  width: 1424px;
  height: 1661px;
}
.anonymousNeutralpngIcon,
.divcontinuallyMessageAvatar {
  position: absolute;
  border-radius: var(--br-29xl);
  width: 48px;
  height: 48px;
}
.anonymousNeutralpngIcon {
  top: 0;
  left: 0;
  overflow: hidden;
  object-fit: cover;
}
.divcontinuallyMessageAvatar {
  right: 1px;
  bottom: 1px;
  background-color: var(--wireframe2);
}
.divcontinuallyMessageContai {
  position: absolute;
  top: 643px;
  left: 1404px;
  width: 1px;
  height: 1px;
}
.poweredByContinually {
  position: relative;
  line-height: 11px;
}
.acontinuallyPoweredByLink {
  position: absolute;
  top: 649.5px;
  right: 78px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-2000);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 7.839996337890625px var(--padding-7xs)
    var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--font-size-2xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.appbunzzdevByHtmltodesig {
  position: relative;
  background-color: var(--color-gray-1500);
  width: 100%;
  height: 687px;
  text-align: left;
  font-size: var(--p1sb-size);
  color: var(--wireframe2);
  font-family: var(--font-rubik);
}
