.svgmuisvgiconRoot {
  position: absolute;
  top: 2.25px;
  left: -1.37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.back {
  position: absolute;
  top: 3px;
  left: 26.63px;
  line-height: 24.5px;
  text-transform: uppercase;
  color: var(--wireframe2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.93px;
  height: 18px;
}
.svgmuisvgiconRoot1 {
  position: absolute;
  top: calc(50% - 17.49px);
  left: 13px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.searchExplorer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.divplaceholder {
  position: absolute;
  top: 18.16px;
  left: 62px;
  width: 1413px;
  height: 22px;
  overflow: hidden;
  opacity: 0.5;
}
.fieldsetmuioutlinedinputNotc,
.search {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
}
.fieldsetmuioutlinedinputNotc {
  height: calc(100% + 5px);
  top: -5px;
  bottom: 0;
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  overflow: hidden;
}
.search {
  top: 40.5px;
  height: 58.3px;
  font-size: var(--font-size-mid-6);
}
.userTransactions,
.viewAllTransactions {
  position: absolute;
  display: flex;
  align-items: center;
}
.userTransactions {
  top: 3px;
  left: 0;
  line-height: 56px;
  font-weight: 600;
  width: 365.87px;
  height: 48px;
}
.viewAllTransactions {
  top: 26.74px;
  left: 1297.72px;
  font-size: var(--font-size-sm);
  line-height: 24.5px;
  text-transform: uppercase;
  color: var(--primary-sky-blue);
  text-align: center;
  justify-content: center;
  width: 182.48px;
  height: 18px;
}
.divmuistackRoot {
  position: absolute;
  top: 138.7px;
  left: 0;
  width: 1488px;
  height: 71.98px;
  font-size: 40.99px;
}
.type,
.version {
  line-height: 24px;
  text-transform: uppercase;
}
.version {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: var(--font-size-mini);
  color: var(--color-gainsboro);
}
.type {
  position: relative;
}
.svgmuisvgiconRoot2 {
  position: relative;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.divmuistackRoot2,
.timestamp {
  position: absolute;
  top: 20px;
  color: var(--color-gainsboro);
}
.divmuistackRoot2 {
  left: 117.64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 12.759998321533203px var(--padding-0)
    var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
  text-align: center;
}
.timestamp {
  left: 212.2px;
  line-height: 24px;
  text-transform: uppercase;
}
.sender {
  position: absolute;
  left: 422.42px;
}
.function,
.sender,
.sentTo {
  top: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-gainsboro);
}
.sentTo {
  position: absolute;
  left: 678.64px;
  font-size: var(--font-size-mini);
}
.function {
  left: 934.86px;
}
.amount,
.div,
.function {
  position: absolute;
}
.amount {
  top: 20px;
  left: 1422.19px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-gainsboro);
  text-align: right;
}
.div {
  top: 16.37px;
  left: 12px;
  line-height: 20.02px;
  color: var(--primary-sky-blue);
}
.svgmuisvgiconRoot3 {
  position: absolute;
  top: calc(50% - 10px);
  left: 125.64px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div1 {
  position: absolute;
  top: 16.37px;
  left: 212.2px;
  line-height: 20.02px;
  color: var(--color-gray-200);
}
.imageIcon {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  border-radius: var(--br-11xs);
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.svgmuisvgiconRoot4 {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
  opacity: 0.75;
}
.amuitypographyRoot {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 23.67px;
}
.divmuistackRoot3 {
  position: absolute;
  top: 12px;
  left: 422.42px;
  width: 232.22px;
  height: 30.78px;
  font-size: var(--font-size-smi);
}
.amuitypographyRoot1 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20.67px;
}
.divmuistackRoot4 {
  position: absolute;
  top: 12px;
  left: 678.64px;
  width: 232.22px;
  height: 30.78px;
}
.svgmuisvgiconRoot6 {
  position: relative;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  overflow: hidden;
}
.coinTransfer {
  position: relative;
  line-height: 18.59px;
}
.divmuiboxRoot2,
.divmuistackRoot5,
.tdmuitablecellRoot {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divmuistackRoot5 {
  padding: var(--padding-0) 21.779998779296875px 0.7999999523162842px
    var(--padding-0);
  align-items: flex-end;
  gap: var(--gap-xs);
}
.divmuiboxRoot2,
.tdmuitablecellRoot {
  overflow: hidden;
  align-items: flex-start;
}
.divmuiboxRoot2 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: 4.590000152587891px var(--padding-base) 5.380001068115234px;
}
.tdmuitablecellRoot {
  position: absolute;
  top: calc(50% - 27.39px);
  left: 922.86px;
  padding: var(--padding-smi-5) 225.35000610351562px 12.509998321533203px
    var(--padding-xs);
  font-size: var(--font-size-smi);
}
.div2 {
  top: -2px;
  left: 7px;
  line-height: 20.02px;
}
.cdx,
.div2,
.frame {
  position: absolute;
}
.frame {
  top: 18px;
  left: 52.1px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx {
  top: -2px;
  left: 59.78px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span {
  position: relative;
  width: 86.83px;
  height: 18px;
  flex-shrink: 0;
}
.gas00010224 {
  top: -1px;
  left: 31.05px;
  line-height: 15.73px;
}
.cdx1,
.frame1,
.gas00010224 {
  position: absolute;
}
.frame1 {
  top: 14px;
  left: 110.72px;
  width: 6.83px;
  height: 14px;
  overflow: hidden;
}
.cdx1 {
  top: -1px;
  left: 116.55px;
  font-size: var(--font-size-3xs);
  line-height: 15.73px;
}
.divmuiboxRoot3 {
  position: relative;
  width: 138.02px;
  height: 15.72px;
  flex-shrink: 0;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-300);
}
.divmuistackRoot6 {
  position: absolute;
  top: 9.51px;
  left: 1337.98px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.000003814697265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot {
  position: absolute;
  top: calc(50% - 598.51px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.xf92b7d9c {
  position: relative;
  line-height: 20.02px;
}
.amuitypographyRoot2 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 22.67px;
}
.divmuistackRoot7 {
  position: absolute;
  top: 12px;
  left: 422.42px;
  width: 232.22px;
  height: 30.78px;
}
.divmuiboxRoot4 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 73.80999755859375px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot9,
.tdmuitablecellRoot1 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot1 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 117.32000732421875px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot9 {
  top: 8.53px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.000003814697265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot1 {
  position: absolute;
  top: calc(50% - 535.04px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.div6,
.div7 {
  position: absolute;
  top: 16.38px;
  left: 12px;
  line-height: 20.02px;
  color: var(--primary-sky-blue);
}
.div7 {
  left: 212.2px;
  color: var(--color-gray-200);
}
.amuitypographyRoot5 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24.67px;
}
.divmuistackRoot11 {
  position: absolute;
  top: 12px;
  left: 678.64px;
  width: 232.22px;
  height: 30.78px;
  font-size: var(--font-size-smi);
}
.divmuiboxRoot6 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 69.69000244140625px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot12,
.tdmuitablecellRoot2 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot2 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 133.44000244140625px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot12 {
  top: 9.75px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.000003814697265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot2 {
  position: absolute;
  top: calc(50% - 472.26px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot6,
.divmuiboxRoot8 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot6 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 21.67px;
}
.divmuiboxRoot8 {
  padding: 4.599999904632568px 50.27000427246094px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot15,
.tdmuitablecellRoot3 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot3 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 189.86000061035156px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot15 {
  top: 8.97px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.000003814697265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot3 {
  position: absolute;
  top: calc(50% - 409.48px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot8 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 19.67px;
}
.amuitypographyRoot8,
.amuitypographyRoot9,
.divmuiboxRoot10,
.tdmuitablecellRoot4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot9 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 29.67px;
}
.divmuiboxRoot10,
.tdmuitablecellRoot4 {
  align-items: flex-start;
}
.divmuiboxRoot10 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: 4.599999904632568px 58.6300048828125px 6.1700005531311035px
    var(--padding-base);
}
.tdmuitablecellRoot4 {
  position: absolute;
  top: calc(50% - 27.39px);
  left: 922.86px;
  padding: var(--padding-smi-5) 141.5px 12.509998321533203px var(--padding-xs);
  font-size: var(--font-size-smi);
}
.cdx8,
.frame8 {
  position: absolute;
}
.frame8 {
  top: 18px;
  left: 86.82px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx8 {
  top: -2px;
  left: 94.5px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span4 {
  position: relative;
  width: 121.55px;
  height: 18px;
  flex-shrink: 0;
}
.gas000024 {
  position: absolute;
  top: -1px;
  left: 43.69px;
  line-height: 15.73px;
}
.divmuistackRoot18 {
  position: absolute;
  top: 9.52px;
  left: 1337.98px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot4 {
  position: absolute;
  top: calc(50% - 346.7px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot11,
.divmuiboxRoot12 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot11 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 18.67px;
}
.divmuiboxRoot12 {
  padding: 4.599999904632568px 41.13999938964844px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot21,
.tdmuitablecellRoot5 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot5 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 205.99000549316406px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot21 {
  top: 9.41px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot5 {
  position: absolute;
  top: calc(50% - 283.92px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot12,
.divmuiboxRoot14 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot12 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 25.67px;
}
.divmuiboxRoot14 {
  padding: 4.590000152587891px 38.779998779296875px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot24,
.tdmuitablecellRoot6 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot6 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 254.35000610351562px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot24 {
  top: 9.62px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot6 {
  position: absolute;
  top: calc(50% - 221.13px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot15,
.divmuiboxRoot16 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot15 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 19.67px;
}
.divmuiboxRoot16 {
  padding: 4.590000152587891px 86.27999877929688px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot27,
.tdmuitablecellRoot7 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot7 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 52.850006103515625px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot27 {
  top: 6.84px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot7 {
  position: absolute;
  top: calc(50% - 158.35px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot18 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 50.27000427246094px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.div26 {
  top: -2px;
  left: -1px;
  line-height: 20.02px;
}
.cdx16,
.div26,
.frame16 {
  position: absolute;
}
.frame16 {
  top: 18px;
  left: 8.69px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx16 {
  top: -2px;
  left: 16.37px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span8 {
  position: relative;
  width: 43.42px;
  height: 18px;
  flex-shrink: 0;
}
.divmuistackRoot30 {
  position: absolute;
  top: 9.51px;
  left: 1337.98px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot8 {
  position: absolute;
  top: calc(50% - 95.57px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot19,
.divmuiboxRoot20 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot19 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 29.67px;
}
.divmuiboxRoot20 {
  padding: 4.590000152587891px 59.38999938964844px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot33,
.tdmuitablecellRoot9 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot9 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 173.74000549316406px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot33 {
  top: 9.28px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot9 {
  position: absolute;
  top: calc(50% - 32.78px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot22 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 49.089996337890625px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot36,
.tdmuitablecellRoot10 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot10 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 214.04000854492188px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot36 {
  top: 9.5px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot10 {
  position: absolute;
  top: calc(50% + 29.99px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuistackRoot39 {
  position: absolute;
  top: 9.72px;
  left: 1338px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot11 {
  position: absolute;
  top: calc(50% + 92.78px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot24,
.divmuiboxRoot26 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot24 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 22.67px;
}
.divmuiboxRoot26 {
  padding: 4.599999904632568px 73.80999755859375px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
}
.apt,
.apt1 {
  position: absolute;
  top: -2px;
  left: 17.37px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.apt1 {
  top: -1px;
  left: 117.55px;
  font-size: var(--font-size-3xs);
  line-height: 15.73px;
}
.divmuistackRoot42 {
  position: absolute;
  top: 9.52px;
  left: 1337.98px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot12 {
  position: absolute;
  top: calc(50% + 155.55px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot26 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 26.67px;
}
.amuitypographyRoot26,
.amuitypographyRoot27,
.divmuiboxRoot28 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot27 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 23.67px;
}
.divmuiboxRoot28 {
  padding: 4.599999904632568px 54.27000427246094px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
}
.div41,
.gas0000108 {
  position: absolute;
  top: -2px;
  left: 6px;
  line-height: 20.02px;
}
.gas0000108 {
  top: -1px;
  left: 38.88px;
  line-height: 15.73px;
}
.divmuistackRoot45 {
  position: absolute;
  top: 9.52px;
  left: 1337.98px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot13 {
  position: absolute;
  top: calc(50% + 218.34px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot28,
.divmuiboxRoot30 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot28 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 26.67px;
}
.divmuiboxRoot30 {
  padding: 4.590000152587891px 36.970001220703125px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot48,
.tdmuitablecellRoot14 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot14 {
  top: calc(50% - 27.39px);
  left: 922.86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 230.16000366210938px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot48 {
  top: 11.37px;
  left: 1338px;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot14 {
  position: absolute;
  top: calc(50% + 281.12px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuistackRoot51 {
  position: absolute;
  top: 9.59px;
  left: 1338px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot15 {
  position: absolute;
  top: calc(50% + 343.9px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuistackRoot54 {
  position: absolute;
  top: 0.81px;
  left: 0.36px;
  width: 232.22px;
  height: 30.78px;
}
.divmuiboxRoot34,
.tdmuitablecellRoot16 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuiboxRoot34 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: 4.590000152587891px 74.75px 6.180000305175781px var(--padding-base);
}
.tdmuitablecellRoot16 {
  position: absolute;
  top: calc(50% - 27.39px);
  left: 922.86px;
  padding: var(--padding-smi-5) 125.3800048828125px 12.509998321533203px
    var(--padding-xs);
  font-size: var(--font-size-smi);
}
.trmuitablerowRoot16 {
  position: absolute;
  top: calc(50% + 406.68px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuistackRoot58 {
  position: absolute;
  top: 9.03px;
  left: 1338px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot17 {
  position: absolute;
  top: calc(50% + 469.47px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuistackRoot61 {
  position: absolute;
  top: 9.25px;
  left: 1338px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-200);
}
.trmuitablerowRoot18 {
  position: absolute;
  top: calc(50% + 532.25px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot40,
.tdmuitablecellRoot19 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuiboxRoot40 {
  border-radius: var(--br-581xl);
  background: linear-gradient(261deg, #089df1, #082df1 51.04%, #08abf1);
  padding: 4.599999904632568px 36.029998779296875px 6.1700005531311035px
    var(--padding-base);
}
.tdmuitablecellRoot19 {
  position: absolute;
  top: calc(50% - 27.39px);
  left: 922.86px;
  padding: var(--padding-smi-5) 222.10000610351562px 12.509998321533203px
    var(--padding-xs);
  font-size: var(--font-size-smi);
}
.div59 {
  top: -2px;
  left: 8px;
  line-height: 20.02px;
}
.cdx36,
.div59,
.frame38 {
  position: absolute;
}
.frame38 {
  top: 18px;
  left: 26.05px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx36 {
  top: -2px;
  left: 33.73px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span19 {
  position: relative;
  width: 60.78px;
  height: 18px;
  flex-shrink: 0;
}
.gas00002265 {
  position: absolute;
  top: -1px;
  left: 29.05px;
  line-height: 15.73px;
}
.trmuitablerowRoot19 {
  position: absolute;
  top: calc(50% + 595.02px);
  left: 0;
  background-color: var(--color-gray-500);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1488px;
  height: 1315.63px;
  overflow: hidden;
}
.svgmuisvgiconRoot64 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.goToFirstPage,
.goToPreviousPage {
  padding: var(--padding-7xs);
  opacity: 0.38;
}
.goToFirstPage {
  position: absolute;
  top: calc(50% - 16px);
  left: 3px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.goToPreviousPage {
  left: 41px;
}
.goToPage10,
.goToPage2,
.goToPage3,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9,
.goToPreviousPage,
.page1 {
  position: absolute;
  top: calc(50% - 16px);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-900);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.page1 {
  left: 79px;
  background-color: var(--color-gray-1600);
  padding: 4.989999771118164px 12.34000015258789px 6.010000228881836px
    12.65999984741211px;
}
.goToPage10,
.goToPage2,
.goToPage3,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 117px;
  padding: 4.989999771118164px 11.34000015258789px 6.010000228881836px
    11.65999984741211px;
}
.goToPage10,
.goToPage3,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 155px;
}
.goToPage10,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 193px;
}
.goToPage10,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 231px;
}
.goToPage10,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 269px;
}
.goToPage10,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 307px;
  padding: 4.989999771118164px 12.34000015258789px 6.010000228881836px
    11.65999984741211px;
}
.goToPage10,
.goToPage8,
.goToPage9 {
  left: 345px;
  padding: 4.989999771118164px 11.34000015258789px 6.010000228881836px
    11.65999984741211px;
}
.goToPage10,
.goToPage9 {
  left: 383px;
}
.goToPage10 {
  left: 421px;
  padding: 4.989999771118164px 8.690000534057617px 6.010000228881836px
    7.309999942779541px;
}
.div70 {
  position: absolute;
  top: 4.99px;
  left: 469.66px;
  font-size: var(--font-size-xs);
  line-height: 20.02px;
}
.goToLastPage,
.goToNextPage {
  position: absolute;
  top: calc(50% - 16px);
  left: 497px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-900);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.goToLastPage {
  left: 535px;
}
.ulmuipaginationUl {
  position: absolute;
  top: 1355.62px;
  left: 459px;
  width: 570px;
  height: 32px;
  text-align: center;
  color: var(--color-gray-200);
}
.divmuiboxRoot,
.divmuistackRoot1 {
  position: absolute;
  top: 210.69px;
  left: 0;
  width: 1488px;
  height: 1387.63px;
  font-size: var(--font-size-sm);
  color: var(--color-skyblue-100);
}
.divmuiboxRoot {
  top: 143px;
  left: 216px;
  height: 1598.31px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.mainnet {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.mainnetWrapper {
  position: absolute;
  top: 62px;
  left: 1471px;
  border-radius: var(--br-8xs);
  background-color: var(--color-royalblue);
  border-bottom: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 178px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.testnet {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  opacity: 0.5;
}
.devnetWrapper,
.testnetWrapper {
  position: absolute;
  top: 104px;
  left: 1471px;
  border-bottom: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 178px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.devnetWrapper {
  top: 146px;
}
.mainmuiboxRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1884.31px;
}
.feedback {
  position: absolute;
  top: 68.97px;
  left: 13.65px;
  transform: rotate(-91.69deg);
  transform-origin: 0 0;
}
.buttonHjEtll8Minimizedwid {
  position: absolute;
  top: 499.45px;
  left: 1882px;
  border-radius: var(--br-10xs) 0 0 var(--br-10xs);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  width: 40px;
  height: 81.09px;
  opacity: 0.96;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.darkExplorer {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 1884.31px;
  text-align: left;
  font-size: var(--p1m-size);
  color: var(--wireframe2);
  font-family: var(--h6sb);
}
