.svgmuisvgiconRoot {
  position: absolute;
  top: 2.25px;
  left: -1.37px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.back {
  position: absolute;
  top: 3px;
  left: 26.63px;
  line-height: 24.5px;
  text-transform: uppercase;
  color: var(--primary-sky-blue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.93px;
  height: 18px;
}
.svgmuisvgiconRoot1 {
  position: absolute;
  top: calc(50% - 17.49px);
  left: 13px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.searchExplorer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.divplaceholder {
  position: absolute;
  top: 18.16px;
  left: 62px;
  width: 1413px;
  height: 22px;
  overflow: hidden;
  opacity: 0.42;
}
.fieldsetmuioutlinedinputNotc,
.search {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
}
.fieldsetmuioutlinedinputNotc {
  height: calc(100% + 5px);
  top: -5px;
  bottom: 0;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
}
.search {
  top: 40.5px;
  height: 58.3px;
  font-size: var(--font-size-mid-6);
}
.userTransactions,
.viewAllTransactions {
  position: absolute;
  display: flex;
  align-items: center;
}
.userTransactions {
  top: 3px;
  left: 0;
  line-height: 56px;
  font-weight: 600;
  width: 365.87px;
  height: 48px;
}
.viewAllTransactions {
  top: 26.74px;
  left: 1297.72px;
  font-size: var(--font-size-sm);
  line-height: 24.5px;
  text-transform: uppercase;
  color: var(--primary-sky-blue);
  text-align: center;
  justify-content: center;
  width: 182.48px;
  height: 18px;
}
.divmuistackRoot {
  position: absolute;
  top: 138.7px;
  left: 0;
  width: 1488px;
  height: 71.98px;
  font-size: 40.99px;
}
.type,
.version {
  line-height: 24px;
  text-transform: uppercase;
}
.version {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
}
.type {
  position: relative;
}
.svgmuisvgiconRoot2 {
  position: relative;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  overflow: hidden;
}
.divmuistackRoot2,
.timestamp {
  position: absolute;
  top: 20px;
  color: var(--color-dimgray);
}
.divmuistackRoot2 {
  left: 112.53px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 8.869998931884766px var(--padding-0)
    var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
  text-align: center;
}
.timestamp {
  left: 203.2px;
  line-height: 24px;
  text-transform: uppercase;
}
.sender {
  position: absolute;
  left: 403.97px;
}
.function,
.sender,
.sentTo {
  top: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-dimgray);
}
.sentTo {
  position: absolute;
  left: 648.67px;
  font-size: var(--font-size-mini);
}
.function {
  left: 893.38px;
}
.amount,
.div,
.function {
  position: absolute;
}
.amount {
  top: 20px;
  left: 1422.19px;
  font-size: var(--font-size-xs);
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-dimgray);
  text-align: right;
}
.div {
  top: 16.37px;
  left: 12px;
  line-height: 20.02px;
  color: var(--primary-sky-blue);
}
.svgmuisvgiconRoot3 {
  position: absolute;
  top: calc(50% - 10px);
  left: 120.53px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.div1 {
  position: absolute;
  top: 16.37px;
  left: 203.2px;
  line-height: 20.02px;
  color: var(--color-gray-600);
}
.imageIcon {
  position: absolute;
  top: calc(50% - 15px);
  left: 0;
  border-radius: var(--br-11xs);
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.svgmuisvgiconRoot4 {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
  opacity: 0.75;
}
.amuitypographyRoot {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 24.67px;
}
.divmuistackRoot3,
.divmuistackRoot4 {
  position: absolute;
  top: 12px;
  left: 403.97px;
  width: 220.7px;
  height: 30.78px;
}
.divmuistackRoot4 {
  left: 648.67px;
  font-size: var(--font-size-smi);
}
.traderswapExactCoinForCo {
  position: relative;
  line-height: 18.59px;
}
.divmuiboxRoot2,
.tdmuitablecellRoot {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuiboxRoot2 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  padding: 4.590000152587891px 110px 6.180000305175781px var(--padding-base);
}
.tdmuitablecellRoot {
  position: absolute;
  top: calc(50% - 27.39px);
  left: 881.38px;
  padding: var(--padding-smi-5) 38.589996337890625px 12.509998321533203px
    var(--padding-xs);
  font-size: var(--font-size-smi);
}
.div2 {
  top: -2px;
  left: 9px;
  line-height: 20.02px;
}
.cdx,
.div2,
.frame {
  position: absolute;
}
.frame {
  top: 18px;
  left: 43.41px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx {
  top: -2px;
  left: 51.09px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span {
  position: relative;
  width: 78.14px;
  height: 18px;
  flex-shrink: 0;
}
.gas00000682 {
  top: -1px;
  left: 23.06px;
  line-height: 15.73px;
}
.cdx1,
.frame1,
.gas00000682 {
  position: absolute;
}
.frame1 {
  top: 14px;
  left: 104.73px;
  width: 6.83px;
  height: 14px;
  overflow: hidden;
}
.cdx1 {
  top: -1px;
  left: 110.56px;
  font-size: var(--font-size-3xs);
  line-height: 15.73px;
}
.divmuiboxRoot3 {
  position: relative;
  width: 132.03px;
  height: 15.72px;
  flex-shrink: 0;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-300);
}
.divmuistackRoot5 {
  position: absolute;
  top: 9.51px;
  left: 1343.97px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot {
  position: absolute;
  top: calc(50% - 597.82px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot2 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25.67px;
}
.xc7ea5c4b {
  position: relative;
  line-height: 20.02px;
}
.amuitypographyRoot3 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 21.67px;
}
.divmuistackRoot7 {
  position: absolute;
  top: 12px;
  left: 648.67px;
  width: 220.7px;
  height: 30.78px;
}
.divmuiboxRoot4 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 43.27000427246094px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot8,
.tdmuitablecellRoot1 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot1 {
  top: calc(50% - 27.39px);
  left: 881.38px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 237.3199920654297px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot8 {
  top: 12.53px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot1 {
  position: absolute;
  top: calc(50% - 535.04px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.div6,
.div7 {
  position: absolute;
  top: 16.38px;
  left: 12px;
  line-height: 20.02px;
  color: var(--primary-sky-blue);
}
.div7 {
  left: 203.2px;
  color: var(--color-gray-600);
}
.amuitypographyRoot4 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 19.67px;
}
.amuitypographyRoot4,
.amuitypographyRoot5,
.divmuiboxRoot6 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot5 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 23.67px;
}
.divmuiboxRoot6 {
  padding: 4.590000152587891px 42.970001220703125px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot11,
.tdmuitablecellRoot2 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot2 {
  top: calc(50% - 27.39px);
  left: 881.38px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 277.6199951171875px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot11 {
  top: 11.75px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot2 {
  position: absolute;
  top: calc(50% - 472.26px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot7 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 22.67px;
}
.amuitypographyRoot7,
.divmuiboxRoot8,
.divmuistackRoot14 {
  display: flex;
  justify-content: flex-start;
}
.divmuiboxRoot8 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-direction: row;
  padding: 4.599999904632568px 50.27000427246094px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot14 {
  position: absolute;
  top: 11.97px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot3 {
  position: absolute;
  top: calc(50% - 409.48px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot8 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 20.67px;
}
.amuitypographyRoot8,
.amuitypographyRoot9,
.divmuiboxRoot10,
.tdmuitablecellRoot4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot9 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 22.67px;
}
.divmuiboxRoot10,
.tdmuitablecellRoot4 {
  align-items: flex-start;
}
.divmuiboxRoot10 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  padding: 4.599999904632568px 75.6300048828125px 6.1700005531311035px
    var(--padding-base);
}
.tdmuitablecellRoot4 {
  position: absolute;
  top: calc(50% - 27.39px);
  left: 881.38px;
  padding: var(--padding-smi-5) 188.959991455078var (--padding-xs)
    12.509998321533203px 12px;
  font-size: var(--font-size-smi);
}
.div14 {
  top: -2px;
  left: -1px;
  line-height: 20.02px;
}
.cdx8,
.div14,
.frame8 {
  position: absolute;
}
.frame8 {
  top: 18px;
  left: 8.69px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx8 {
  top: -2px;
  left: 16.37px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span4 {
  position: relative;
  width: 43.42px;
  height: 18px;
  flex-shrink: 0;
}
.divmuistackRoot17 {
  position: absolute;
  top: 9.52px;
  left: 1343.97px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot4 {
  position: absolute;
  top: calc(50% - 346.7px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot12 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.599999904632568px 54.19999694824219px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot20,
.tdmuitablecellRoot5 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot5 {
  top: calc(50% - 27.39px);
  left: 881.38px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 245.38999938964844px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot20 {
  top: 8.41px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot5 {
  position: absolute;
  top: calc(50% - 283.92px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot14 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 73.80999755859375px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot23,
.tdmuitablecellRoot6 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot6 {
  top: calc(50% - 27.39px);
  left: 881.38px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 164.77999877929688px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot23 {
  top: 6.62px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot6 {
  position: absolute;
  top: calc(50% - 221.13px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuistackRoot24 {
  position: absolute;
  top: 12px;
  left: 403.97px;
  width: 220.7px;
  height: 30.78px;
  font-size: var(--font-size-smi);
}
.amuitypographyRoot15 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-direction: row;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 29.67px;
}
.amuitypographyRoot15,
.divmuiboxRoot16,
.divmuistackRoot26 {
  display: flex;
  justify-content: flex-start;
}
.divmuiboxRoot16 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-direction: row;
  padding: 4.590000152587891px 58.6300048828125px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot26 {
  position: absolute;
  top: 9.84px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot7 {
  position: absolute;
  top: calc(50% - 158.35px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot18 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 50.27000427246094px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.gas000006 {
  position: absolute;
  top: -1px;
  left: 37.7px;
  line-height: 15.73px;
}
.trmuitablerowRoot8 {
  position: absolute;
  top: calc(50% - 95.57px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.gas0003139 {
  position: absolute;
  top: -1px;
  left: 31.89px;
  line-height: 15.73px;
}
.trmuitablerowRoot9 {
  position: absolute;
  top: calc(50% - 32.78px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot20,
.divmuiboxRoot22 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot20 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.599998474121094px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 22.92px;
}
.divmuiboxRoot22 {
  padding: 4.590000152587891px 54.33000183105469px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot35,
.tdmuitablecellRoot10 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot10 {
  top: calc(50% - 27.39px);
  left: 881.38px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 229.25999450683594px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot35 {
  top: 9.5px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.02px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot10 {
  position: absolute;
  top: calc(50% + 29.99px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot24 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.599999904632568px 36.970001220703125px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.gas000174427 {
  position: absolute;
  top: -1px;
  left: 19.25px;
  line-height: 15.73px;
}
.trmuitablerowRoot11 {
  position: absolute;
  top: calc(50% + 92.78px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot25,
.divmuiboxRoot26 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot25 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  align-items: flex-end;
  gap: 29.67px;
}
.divmuiboxRoot26 {
  padding: 4.599999904632568px 61.38999938964844px 6.1700005531311035px
    var(--padding-base);
  align-items: flex-start;
}
.divmuistackRoot41,
.tdmuitablecellRoot12 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.tdmuitablecellRoot12 {
  top: calc(50% - 27.39px);
  left: 881.38px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi-5) 221.1999969482422px 12.509998321533203px
    var(--padding-xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
}
.divmuistackRoot41 {
  top: 8.94px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  align-items: flex-end;
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot12 {
  position: absolute;
  top: calc(50% + 155.55px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot26,
.divmuistackRoot44 {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.amuitypographyRoot26 {
  top: calc(50% - 15.39px);
  left: 38px;
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-direction: row;
  padding: 3.070000171661377px 19.600006103515625px 6.710000514984131px
    var(--padding-base);
  gap: 21.67px;
}
.divmuistackRoot44 {
  top: 8.16px;
  left: 1344px;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  gap: 1.01px;
  text-align: right;
  color: var(--color-gray-600);
}
.trmuitablerowRoot13 {
  position: absolute;
  top: calc(50% + 218.34px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot28,
.divmuiboxRoot30 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot28 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.600006103515625px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 20.67px;
}
.divmuiboxRoot30 {
  padding: 4.590000152587891px 75.6300048828125px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.trmuitablerowRoot14 {
  position: absolute;
  top: calc(50% + 281.12px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.amuitypographyRoot31,
.divmuiboxRoot32 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.amuitypographyRoot31 {
  position: absolute;
  top: calc(50% - 15.39px);
  left: 38px;
  padding: 3.059999942779541px 19.59000015258789px 6.720000743865967px
    var(--padding-base);
  align-items: flex-end;
  gap: 20.24px;
}
.divmuiboxRoot32 {
  padding: 4.590000152587891px 49.33000183105469px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
}
.gas0000516 {
  position: absolute;
  top: -1px;
  left: 32.89px;
  line-height: 15.73px;
}
.trmuitablerowRoot15 {
  position: absolute;
  top: calc(50% + 343.9px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.div50 {
  top: -2px;
  left: 7px;
  line-height: 20.02px;
}
.cdx32,
.div50,
.frame32 {
  position: absolute;
}
.frame32 {
  top: 18px;
  left: 86.82px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx32 {
  top: -2px;
  left: 94.5px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span16 {
  position: relative;
  width: 121.55px;
  height: 18px;
  flex-shrink: 0;
}
.trmuitablerowRoot16 {
  position: absolute;
  top: calc(50% + 406.68px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot36 {
  border-radius: var(--br-581xl);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 4.590000152587891px 36.970001220703125px 6.180000305175781px
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.gas000173316 {
  position: absolute;
  top: -1px;
  left: 20.25px;
  line-height: 15.73px;
}
.trmuitablerowRoot17,
.trmuitablerowRoot18 {
  position: absolute;
  top: calc(50% + 469.47px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.trmuitablerowRoot18 {
  top: calc(50% + 532.25px);
}
.cdx38,
.frame38 {
  position: absolute;
}
.frame38 {
  top: 18px;
  left: 34.74px;
  width: 8.69px;
  height: 18px;
  overflow: hidden;
}
.cdx38 {
  top: -2px;
  left: 42.42px;
  font-size: var(--font-size-smi);
  line-height: 20.02px;
}
.span19 {
  position: relative;
  width: 69.47px;
  height: 18px;
  flex-shrink: 0;
}
.trmuitablerowRoot19 {
  position: absolute;
  top: calc(50% + 595.02px);
  left: 0;
  background-color: var(--color-gray-200);
  width: 1488px;
  height: 54.78px;
}
.divmuiboxRoot1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1488px;
  height: 1315.63px;
  overflow: hidden;
}
.svgmuisvgiconRoot63 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.goToFirstPage,
.goToPreviousPage {
  padding: var(--padding-7xs);
  opacity: 0.38;
}
.goToFirstPage {
  position: absolute;
  top: calc(50% - 16px);
  left: 3px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-800);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.goToPreviousPage {
  left: 41px;
}
.goToPage10,
.goToPage2,
.goToPage3,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9,
.goToPreviousPage,
.page1 {
  position: absolute;
  top: calc(50% - 16px);
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-800);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.page1 {
  left: 79px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 4.989999771118164px 12.34000015258789px 6.010000228881836px
    12.65999984741211px;
}
.goToPage10,
.goToPage2,
.goToPage3,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 117px;
  padding: 4.989999771118164px 11.34000015258789px 6.010000228881836px
    11.65999984741211px;
}
.goToPage10,
.goToPage3,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 155px;
}
.goToPage10,
.goToPage4,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 193px;
}
.goToPage10,
.goToPage5,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 231px;
}
.goToPage10,
.goToPage6,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 269px;
}
.goToPage10,
.goToPage7,
.goToPage8,
.goToPage9 {
  left: 307px;
  padding: 4.989999771118164px 12.34000015258789px 6.010000228881836px
    11.65999984741211px;
}
.goToPage10,
.goToPage8,
.goToPage9 {
  left: 345px;
  padding: 4.989999771118164px 11.34000015258789px 6.010000228881836px
    11.65999984741211px;
}
.goToPage10,
.goToPage9 {
  left: 383px;
}
.goToPage10 {
  left: 421px;
  padding: 4.989999771118164px 8.690000534057617px 6.010000228881836px
    7.309999942779541px;
}
.div70 {
  position: absolute;
  top: 4.99px;
  left: 469.66px;
  font-size: var(--font-size-xs);
  line-height: 20.02px;
}
.goToLastPage,
.goToNextPage {
  position: absolute;
  top: calc(50% - 16px);
  left: 497px;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-gray-800);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.goToLastPage {
  left: 535px;
}
.ulmuipaginationUl {
  position: absolute;
  top: 1355.62px;
  left: 459px;
  width: 570px;
  height: 32px;
  text-align: center;
  color: var(--color-gray-600);
}
.divmuistackRoot1 {
  position: absolute;
  top: 210.69px;
  left: 0;
  width: 1488px;
  height: 1387.63px;
  font-size: var(--font-size-sm);
  color: var(--color-deepskyblue-100);
}
.mainnet {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.mainnetWrapper {
  border-radius: var(--br-8xs);
  background-color: var(--primary-sky-blue);
  border-bottom: 1px solid var(--color-deepskyblue);
  box-sizing: border-box;
  width: 146px;
  height: 34px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--contrast-black90);
}
.testnet {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  opacity: 0.5;
}
.testnetWrapper {
  align-self: stretch;
  border-bottom: 1px solid var(--primary-sky-blue);
  flex-direction: row;
}
.devnetWrapper,
.frameParent,
.testnetWrapper {
  display: flex;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.devnetWrapper {
  align-self: stretch;
  border-bottom: 1px solid var(--color-deepskyblue);
  flex-direction: row;
}
.frameParent {
  position: absolute;
  top: -53px;
  left: 1263px;
  border-radius: var(--br-10xs);
  background-color: var(--wireframe2);
  flex-direction: column;
  font-size: var(--p1sb-size);
  color: var(--contrast-black-99);
  font-family: var(--p1sb);
}
.divmuiboxRoot {
  position: absolute;
  top: 112px;
  left: 216px;
  width: 1488px;
  height: 1598.31px;
}
.codex21Icon,
.mainmuiboxRootChild {
  position: absolute;
  top: 0;
  left: -1992px;
  width: 1920px;
  height: 1884.31px;
}
.codex21Icon {
  top: 1800px;
  left: 212px;
  width: 61px;
  height: 62px;
  object-fit: cover;
}
.mainmuiboxRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1884.31px;
}
.feedback {
  position: absolute;
  top: 68.97px;
  left: 13.65px;
  transform: rotate(-91.69deg);
  transform-origin: 0 0;
}
.buttonHjEtll8Minimizedwid {
  position: absolute;
  top: 499.45px;
  left: 1882px;
  border-radius: var(--br-10xs) 0 0 var(--br-10xs);
  background-color: var(--primary-sky-blue);
  width: 40px;
  height: 81.09px;
  opacity: 0.96;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--wireframe2);
}
.exploreraptoslabscomByHtml {
  position: relative;
  background-color: var(--wireframe2);
  width: 100%;
  height: 1884.31px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-600);
  font-family: var(--font-inter);
}
