.pinned {
  position: absolute;
  top: 2.5px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 50.08px;
  height: 19px;
}
.oldFlex {
  position: absolute;
  top: 32px;
  left: -8px;
  width: 912px;
  height: 246px;
}
.divjsPinnedItemsReorderCo {
  position: absolute;
  top: 0;
  left: 16px;
  width: 896px;
  height: 278px;
}
.frameIcon {
  position: absolute;
  top: 5.5px;
  left: calc(50% - 448px);
  width: 16px;
  height: 16px;
}
.repositories {
  position: absolute;
  top: 2.5px;
  left: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 94.25px;
  height: 19px;
}
.findARepository1,
.h4textNormal {
  position: absolute;
  top: 0;
  left: 0;
  width: 896px;
  height: 24px;
}
.findARepository1 {
  display: flex;
  align-items: center;
  width: 535.63px;
  height: 16.5px;
}
.pseudo {
  position: relative;
  width: 535.43px;
  height: 16.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.findARepository {
  position: absolute;
  width: 100%;
  top: calc(50% - 16px);
  right: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--wireframe2);
  box-shadow: 0 1px 0 rgba(208, 215, 222, 0.2) inset;
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs-5) var(--padding-mid) var(--padding-5xs) 33px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameIcon1 {
  position: absolute;
  top: 10px;
  left: calc(50% - 282.71px);
  width: 16px;
  height: 16px;
}
.divautoSearchGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 585.43px;
  height: 32px;
}
.type {
  position: absolute;
  top: 5.5px;
  left: 17px;
  line-height: 20px;
  font-weight: 500;
}
.spandropdownCaret {
  position: absolute;
  top: calc(50% - 0.71px);
  left: 57.12px;
  border-top: 4px solid var(--color-gray-1200);
  border-right: 4px solid var(--color-gray-1200);
  border-left: 4px solid var(--color-gray-1200);
  box-sizing: border-box;
  width: 8px;
  height: 4px;
  opacity: 0.8;
}
.summarybtn {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04),
    0 1px 0 rgba(255, 255, 255, 0.25) inset;
  border: 1px solid var(--color-gray-1700);
  box-sizing: border-box;
  width: 82.12px;
  height: 32px;
}
.spandropdownCaret1 {
  position: absolute;
  top: calc(50% - 0.71px);
  left: 89.75px;
  border-top: 4px solid var(--color-gray-1200);
  border-right: 4px solid var(--color-gray-1200);
  border-left: 4px solid var(--color-gray-1200);
  box-sizing: border-box;
  width: 8px;
  height: 4px;
  opacity: 0.8;
}
.summarybtn1 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04),
    0 1px 0 rgba(255, 255, 255, 0.25) inset;
  border: 1px solid var(--color-gray-1700);
  box-sizing: border-box;
  width: 114.75px;
  height: 32px;
}
.spandropdownCaret2 {
  position: absolute;
  top: calc(50% - 0.71px);
  left: 52.7px;
  border-top: 4px solid var(--color-gray-1200);
  border-right: 4px solid var(--color-gray-1200);
  border-left: 4px solid var(--color-gray-1200);
  box-sizing: border-box;
  width: 8px;
  height: 4px;
  opacity: 0.8;
}
.summarybtn2 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04),
    0 1px 0 rgba(255, 255, 255, 0.25) inset;
  border: 1px solid var(--color-gray-1700);
  box-sizing: border-box;
  width: 77.7px;
  height: 32px;
}
.divdFlex1 {
  position: absolute;
  top: 0;
  left: 589.43px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.0000152587890625px var(--padding-0)
    var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-gray-1200);
}
.divdFlex,
.tmDb {
  position: absolute;
  left: 0;
}
.divdFlex {
  top: 40px;
  width: 896px;
  height: 32px;
  font-size: var(--font-size-sm);
  color: #6e7781;
}
.tmDb {
  top: 0.5px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-royalblue-300);
}
.public {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.spanlabel {
  position: absolute;
  top: calc(50% - 29.35px);
  left: 59.16px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.commonLibsUsed {
  position: absolute;
  top: 25.31px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 21px;
}
.divmb1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 707px;
  height: 63.31px;
}
.svgh2d584b0eaeIcon {
  position: absolute;
  top: 15.91px;
  left: 707px;
  width: 155px;
  height: 30px;
  overflow: hidden;
}
.divdFlex2,
.go {
  position: absolute;
  top: 0;
  left: 0;
  width: 862px;
  height: 67.31px;
}
.go {
  top: 2px;
  left: 15.38px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 16.25px;
  height: 14px;
}
.spanrepoLanguageColor {
  position: absolute;
  top: 2.5px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-deepskyblue-300);
  border: 1px solid var(--color-gray-1800);
  box-sizing: border-box;
  width: 12px;
  height: 12px;
}
.frameIcon2 {
  position: absolute;
  top: 0;
  left: calc(50% - 380.2px);
  width: 16px;
  height: 16px;
}
.div {
  position: absolute;
  top: 2px;
  left: 70.8px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 11.14px;
  height: 14px;
}
.frameIcon3 {
  position: absolute;
  top: 0;
  left: calc(50% - 333.26px);
  width: 16px;
  height: 16px;
}
.apache20 {
  position: absolute;
  top: 2px;
  left: 117.74px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 69.62px;
  height: 14px;
}
.frameIcon4 {
  position: absolute;
  top: 0;
  left: calc(50% - 227.84px);
  width: 16px;
  height: 16px;
}
.div1 {
  position: absolute;
  top: 2px;
  left: 223.16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 27.74px;
  height: 14px;
}
.frameIcon5 {
  position: absolute;
  top: 0;
  left: calc(50% - 164.3px);
  width: 16px;
  height: 16px;
}
.div2 {
  position: absolute;
  top: 2px;
  left: 286.7px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.frameIcon6 {
  position: absolute;
  top: 0;
  left: calc(50% - 113.98px);
  width: 16px;
  height: 16px;
}
.div3,
.updated {
  position: absolute;
  top: 2px;
  left: 337.02px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 12.52px;
  height: 14px;
}
.updated {
  left: 365.34px;
  width: 52.24px;
}
.divcolorFgMuted,
.divpublic {
  position: absolute;
  width: 862px;
}
.divcolorFgMuted {
  top: 67.31px;
  left: 0;
  height: 18px;
  font-size: var(--font-size-xs);
}
.divpublic {
  top: 17px;
  left: 16px;
  height: 85.31px;
}
.spanlabel1 {
  position: absolute;
  top: calc(50% - 29.34px);
  left: 95.51px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.tendermintCoreBft {
  position: absolute;
  top: 25.32px;
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 21px;
}
.div5 {
  position: absolute;
  top: 2px;
  left: 117.74px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 37.96px;
  height: 14px;
}
.frameIcon9 {
  position: absolute;
  top: 0;
  left: calc(50% - 259.5px);
  width: 16px;
  height: 16px;
}
.div6 {
  position: absolute;
  top: 2px;
  left: 191.5px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.frameIcon10 {
  position: absolute;
  top: 0;
  left: calc(50% - 209.19px);
  width: 16px;
  height: 16px;
}
.div7,
.updated1 {
  position: absolute;
  top: 2px;
  left: 241.81px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 13.79px;
  height: 14px;
}
.updated1 {
  left: 271.4px;
  width: 52.24px;
}
.divcolorFgMuted1,
.liboxRow {
  position: absolute;
  top: 67.32px;
  left: 0;
  width: 862px;
  height: 18px;
  font-size: var(--font-size-xs);
}
.liboxRow {
  top: 117.31px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 894px;
  height: 118.31px;
  font-size: var(--font-size-mini);
}
.spanlabel2 {
  position: absolute;
  top: calc(50% - 29.35px);
  left: 46.5px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.svgh2d38e79612Icon {
  position: absolute;
  top: 15.9px;
  left: 707px;
  width: 155px;
  height: 30px;
  overflow: hidden;
}
.div8 {
  position: absolute;
  top: 2px;
  left: 70.8px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 29.78px;
  height: 14px;
}
.frameIcon12 {
  position: absolute;
  top: 0;
  left: calc(50% - 314.62px);
  width: 16px;
  height: 16px;
}
.apache201 {
  position: absolute;
  top: 2px;
  left: 136.38px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 69.62px;
  height: 14px;
}
.frameIcon13 {
  position: absolute;
  top: 0;
  left: calc(50% - 209.2px);
  width: 16px;
  height: 16px;
}
.div9 {
  position: absolute;
  top: 2px;
  left: 241.8px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 28.33px;
  height: 14px;
}
.frameIcon14 {
  position: absolute;
  top: 0;
  left: calc(50% - 145.07px);
  width: 16px;
  height: 16px;
}
.div10 {
  position: absolute;
  top: 2px;
  left: 305.93px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.frameIcon15 {
  position: absolute;
  top: 0;
  left: calc(50% - 94.76px);
  width: 16px;
  height: 16px;
}
.div11,
.updated2 {
  position: absolute;
  top: 2px;
  left: 356.24px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.59px;
  height: 14px;
}
.updated2 {
  left: 386.63px;
  width: 52.24px;
}
.liboxRow1 {
  position: absolute;
  top: 351.94px;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 894px;
  height: 118.31px;
  font-size: var(--font-size-mini);
}
.kvtool {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.divmb13,
.spanlabel3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.spanlabel3 {
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
}
.divmb13 {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--padding-12xs-5) 596.7999877929688px var(--padding-6xs)
    var(--padding-0);
  align-items: center;
  gap: 11.47px;
}
.svgh2dB50b0bddIcon {
  position: absolute;
  top: 0;
  left: 707px;
  width: 155px;
  height: 30px;
  overflow: hidden;
}
.div12,
.divdFlex5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 862px;
  height: 35.5px;
}
.div12 {
  top: 2px;
  left: 70.8px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 13.79px;
  height: 14px;
}
.frameIcon17 {
  position: absolute;
  top: 0;
  left: calc(50% - 330.61px);
  width: 16px;
  height: 16px;
}
.div13 {
  position: absolute;
  top: 2px;
  left: 120.39px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 19.76px;
  height: 14px;
}
.frameIcon18 {
  position: absolute;
  top: 0;
  left: calc(50% - 275.05px);
  width: 16px;
  height: 16px;
}
.div14 {
  position: absolute;
  top: 2px;
  left: 175.95px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.frameIcon19 {
  position: absolute;
  top: 0;
  left: calc(50% - 224.73px);
  width: 16px;
  height: 16px;
}
.div15,
.updated3 {
  position: absolute;
  top: 2px;
  left: 226.27px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 19.35px;
  height: 14px;
}
.updated3 {
  left: 261.41px;
  width: 52.24px;
}
.divcolorFgMuted3 {
  position: absolute;
  top: 35.5px;
  left: 0;
  width: 862px;
  height: 18px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
}
.divpublic3,
.liboxRow2 {
  position: absolute;
  top: 17px;
  left: 16px;
  width: 862px;
  height: 53.5px;
}
.liboxRow2 {
  top: 469.25px;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 894px;
  height: 86.5px;
  color: var(--color-royalblue-300);
}
.spanlabel4 {
  position: absolute;
  top: calc(50% - 29.34px);
  left: 116.13px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.frameIcon20 {
  position: absolute;
  top: 0;
  left: calc(50% - 431px);
  width: 16px;
  height: 16px;
}
.div16 {
  position: absolute;
  top: 2px;
  left: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 21.83px;
  height: 14px;
}
.frameIcon21 {
  position: absolute;
  top: 0;
  left: calc(50% - 373.37px);
  width: 16px;
  height: 16px;
}
.div17 {
  position: absolute;
  top: 2px;
  left: 77.63px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 27.4px;
  height: 14px;
}
.frameIcon22 {
  position: absolute;
  top: 0;
  left: calc(50% - 310.16px);
  width: 16px;
  height: 16px;
}
.div18 {
  position: absolute;
  top: 2px;
  left: 140.84px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.47px;
  height: 14px;
}
.frameIcon23 {
  position: absolute;
  top: 0;
  left: calc(50% - 259.89px);
  width: 16px;
  height: 16px;
}
.div19,
.updated4 {
  position: absolute;
  top: 2px;
  left: 191.11px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.updated4 {
  left: 221.42px;
  width: 52.24px;
}
.liboxRow3 {
  position: absolute;
  top: 672.06px;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 894px;
  height: 118.31px;
}
.spanlabel5 {
  position: absolute;
  top: calc(50% - 39.84px);
  left: 85.77px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.ethermintIsA {
  margin: 0;
}
.ethermintIsAContainer {
  position: relative;
  line-height: 21px;
}
.pcolorFgMuted {
  position: absolute;
  top: 26.31px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 34px var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.divmb15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 707px;
  height: 84.31px;
}
.svgh2dB5766266Icon {
  position: absolute;
  top: 26.4px;
  left: 707px;
  width: 155px;
  height: 30px;
  overflow: hidden;
}
.div20,
.divdFlex7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 862px;
  height: 88.31px;
}
.div20 {
  top: 2px;
  left: 70.8px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.47px;
  height: 14px;
}
.frameIcon25 {
  position: absolute;
  top: 0;
  left: calc(50% - 329.92px);
  width: 16px;
  height: 16px;
}
.lgpl30 {
  position: absolute;
  top: 2px;
  left: 121.08px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 55.86px;
  height: 14px;
}
.frameIcon26 {
  position: absolute;
  top: 0;
  left: calc(50% - 238.26px);
  width: 16px;
  height: 16px;
}
.div21 {
  position: absolute;
  top: 2px;
  left: 212.74px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 29.47px;
  height: 14px;
}
.frameIcon27 {
  position: absolute;
  top: 0;
  left: calc(50% - 172.98px);
  width: 16px;
  height: 16px;
}
.div22 {
  position: absolute;
  top: 2px;
  left: 278.02px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.frameIcon28 {
  position: absolute;
  top: 0;
  left: calc(50% - 122.67px);
  width: 16px;
  height: 16px;
}
.div23,
.updated5 {
  position: absolute;
  top: 2px;
  left: 328.33px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.updated5 {
  left: 358.64px;
  width: 52.24px;
}
.divcolorFgMuted5 {
  position: absolute;
  top: 88.31px;
  left: 0;
  width: 862px;
  height: 18px;
  font-size: var(--font-size-xs);
}
.divpublic5,
.liboxRow4 {
  position: absolute;
  top: 17px;
  left: 16px;
  width: 862px;
  height: 106.31px;
}
.liboxRow4 {
  top: 789.38px;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 894px;
  height: 139.31px;
  font-size: var(--font-size-mini);
}
.pcolorFgMuted1,
.spanlabel6 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.spanlabel6 {
  top: calc(50% - 39.84px);
  left: 61.82px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-lightgray-100);
  padding: var(--padding-12xs) 10.72999954223632var (--padding-5xs)
    var(--padding-12xs) 8px;
  font-size: var(--font-size-xs);
}
.pcolorFgMuted1 {
  top: 26.31px;
  left: 0;
  padding: var(--padding-0) var(--padding-61xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-sm);
}
.svgh2d602c433cIcon {
  position: absolute;
  top: 26.41px;
  left: 707px;
  width: 155px;
  height: 30px;
  overflow: hidden;
}
.div24 {
  position: absolute;
  top: 2px;
  left: 70.8px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 12.52px;
  height: 14px;
}
.frameIcon30 {
  position: absolute;
  top: 0;
  left: calc(50% - 331.87px);
  width: 16px;
  height: 16px;
}
.apache202 {
  position: absolute;
  top: 2px;
  left: 119.13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 69.62px;
  height: 14px;
}
.frameIcon31 {
  position: absolute;
  top: 0;
  left: calc(50% - 226.45px);
  width: 16px;
  height: 16px;
}
.div25 {
  position: absolute;
  top: 2px;
  left: 224.55px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 12.52px;
  height: 14px;
}
.frameIcon32 {
  position: absolute;
  top: 0;
  left: calc(50% - 178.13px);
  width: 16px;
  height: 16px;
}
.div26 {
  position: absolute;
  top: 2px;
  left: 272.87px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.frameIcon33 {
  position: absolute;
  top: 0;
  left: calc(50% - 127.82px);
  width: 16px;
  height: 16px;
}
.div27,
.updated6 {
  position: absolute;
  top: 2px;
  left: 323.18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 14.51px;
  height: 14px;
}
.updated6 {
  left: 353.49px;
  width: 52.24px;
}
.liboxRow5,
.ulh2d700dc786 {
  position: absolute;
  width: 894px;
}
.liboxRow5 {
  top: 1045px;
  left: 0;
  border-radius: 0 0 var(--br-7xs) var(--br-7xs);
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 139.31px;
}
.ulh2d700dc786 {
  top: 0;
  left: 1px;
  height: 1184.31px;
}
.viewAllRepositories {
  position: absolute;
  top: 19px;
  left: 379.05px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136.08px;
  height: 16.5px;
}
.divboxFooter {
  position: absolute;
  top: 1183.31px;
  left: 1px;
  border-radius: 0 0 var(--br-7xs) var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 894px;
  height: 54px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.divbox,
.divh2dD2a22a69 {
  position: absolute;
  width: 896px;
}
.divbox {
  top: 88px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--wireframe2);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 1238.31px;
  color: var(--color-dimgray-100);
}
.divh2dD2a22a69 {
  top: 286px;
  left: 16px;
  height: 1326.31px;
}
.divcontainerLg {
  position: absolute;
  top: 0;
  left: calc(50% - 624px);
  width: 928px;
  height: 1628.31px;
}
.divgutterCondensed {
  position: absolute;
  width: calc(100% - 160px);
  top: 196px;
  right: 96px;
  left: 64px;
  height: 1628.31px;
}
.divh2d295be793 {
  position: absolute;
  top: 72px;
  left: 0;
  width: 1440px;
  height: 1824.31px;
}
.frameIcon34 {
  position: absolute;
  top: 0;
  left: calc(50% - 72.96px);
  width: 24px;
  height: 24px;
}
.githubInc {
  position: absolute;
  top: 4px;
  left: 32px;
  line-height: 18px;
}
.divmt2 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 145.92px;
  height: 26px;
}
.about,
.api,
.blog,
.contactGithub,
.docs,
.pricing,
.privacy,
.security,
.status,
.terms,
.training {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 34.9px;
  height: 14px;
}
.about,
.api,
.blog,
.contactGithub,
.docs,
.pricing,
.privacy,
.security,
.status,
.training {
  left: 56.23px;
  width: 41.48px;
}
.about,
.api,
.blog,
.contactGithub,
.docs,
.pricing,
.security,
.status,
.training {
  left: 119.05px;
  width: 46.83px;
}
.about,
.api,
.blog,
.contactGithub,
.docs,
.pricing,
.status,
.training {
  left: 187.21px;
  width: 36.47px;
}
.about,
.api,
.blog,
.contactGithub,
.docs,
.pricing,
.training {
  left: 245.01px;
  width: 29px;
}
.about,
.api,
.blog,
.contactGithub,
.pricing,
.training {
  left: 295.35px;
  width: 88px;
}
.about,
.api,
.blog,
.pricing,
.training {
  left: 404.68px;
  width: 39.36px;
}
.about,
.api,
.blog,
.training {
  left: 465.37px;
  width: 19.12px;
}
.about,
.blog,
.training {
  left: 505.82px;
  width: 45.36px;
}
.about,
.blog {
  left: 572.51px;
  width: 25.53px;
}
.about {
  left: 619.37px;
  width: 34.11px;
}
.ullistStyleNone {
  position: absolute;
  width: calc(100% - 326.67px);
  top: 45px;
  right: 163.34px;
  left: 163.33px;
  height: 18px;
  color: var(--color-royalblue-300);
}
.divpositionRelative {
  position: absolute;
  top: 1936.31px;
  left: 230px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 980px;
  height: 75px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
}
.libreries {
  position: relative;
  width: 100%;
  height: 2051.31px;
  text-align: left;
  font-size: var(--p1sb-size);
  color: var(--color-gray-1400);
  font-family: var(--font-noto-sans);
}
