.toImplementChild {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1440px;
  height: 600px;
}
.c {
  font-size: var(--font-size-11xl);
}
.ode {
  font-size: var(--h6sb-size);
}
.codexIsAContainer {
  border: 0;
  font-weight: 600;
  font-family: var(--h6sb);
  background-color: transparent;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: lowercase;
  color: var(--wireframe2);
  text-align: left;
}
.buildingWidelyUsedWeb3ApplParent,
.buttonCtaParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.buildingWidelyUsedWeb3ApplParent {
  position: absolute;
  top: 160px;
  left: 720px;
  width: 630px;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-0);
  box-sizing: border-box;
  font-size: var(--h1sb-size);
}
.theCodexFoundation {
  margin: 0;
}
.theCodexFoundationContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 520px;
  flex-shrink: 0;
}
.mission,
.supportCodexInContainer {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.mission {
  line-height: 140%;
  text-transform: capitalize;
}
.supportCodexInContainer {
  font-size: var(--h6sb-size);
  line-height: 160%;
}
.missionParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.coreFocus,
.theCodexFoundation1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.coreFocus {
  font-size: var(--font-size-13xl);
  line-height: 140%;
  text-transform: capitalize;
}
.theCodexFoundation1 {
  line-height: 160%;
}
.span {
  color: var(--color-deepskyblue);
}
.ensureParticipationAndContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-weight: 600;
}
.coreFocusParent,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.coreFocusParent {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--h6sb-size);
}
.frameParent {
  width: 628px;
  flex-shrink: 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-13xl);
}
.theCodexFoundationIsKeyBeParent {
  position: absolute;
  top: 4099px;
  left: 84px;
  border-radius: var(--br-5xs);
  width: 1280px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-45xl) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--h1sb-size);
}
.xpander {
  position: absolute;
  top: 1417px;
  left: 130px;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-gray-700);
  display: inline-block;
  width: 98px;
}
.toImplementItem {
  position: absolute;
  top: 4089px;
  left: -2px;
  width: 233px;
  height: 0;
}
.frameChild {
  position: relative;
  width: 233px;
  height: 0;
  flex-shrink: 0;
}
.codexTokenomicsOverview,
.theCodexFoundation2 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 721px;
}
.theCodexFoundation2 {
  line-height: 160%;
  width: 872px;
}
.theCodexFoundationPresentsWrapper {
  width: 1163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--h6sb-size);
}
.codexTokenomicsOverviewParent,
.lineParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.codexTokenomicsOverviewParent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-13xl);
}
.lineParent {
  position: absolute;
  top: 2948px;
  left: 2px;
  width: 1438px;
  align-items: flex-start;
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--h1sb-size);
}
.theFirstEcosystem {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 580px;
  flex-shrink: 0;
}
.frameInner {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-family: var(--h6sb);
  font-size: var(--font-size-13xl);
  width: 563px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.theFirstEcosystemProvidesNParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-61xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.lineGroup {
  position: absolute;
  top: 756px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--h1sb-size);
}
.icon {
  position: relative;
  border-radius: var(--br-base);
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  overflow: hidden;
}
.simplifiedLanguageBlock,
.xpander1 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.xpander1 {
  line-height: 160%;
  text-transform: capitalize;
  width: 140px;
}
.simplifiedLanguageBlock {
  font-size: var(--h3sb-size);
  line-height: 140%;
  color: var(--wireframe2);
  width: 595px;
}
.designed1,
.simplifiedLanguageBlock {
  text-transform: capitalize;
}
.designed,
.x1 {
  font-family: var(--h6sb);
}
.designed {
  font-size: var(--p1m-size);
  font-weight: 500;
}
.x1 {
  font-size: var(--h6sb-size);
}
.forAllDevelopersWithoutAn {
  text-transform: lowercase;
}
.designedForAllContainer {
  border: 0;
  background-color: transparent;
  font-family: var(--font-roboto);
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  color: var(--wireframe2);
  text-align: left;
  display: inline-block;
  width: 595px;
}
.joinTheCodex {
  position: relative;
  line-height: 160%;
  text-transform: lowercase;
  font-weight: 600;
  font-family: var(--font-inter);
  background: linear-gradient(
    -90deg,
    #00c2ff,
    #5a72c9 34.38%,
    #03c3ff 61.98%,
    #5e89f8 98.44%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.xpanderParent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.card1,
.iconParent,
.xpanderParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconParent {
  background: linear-gradient(
    -79.43deg,
    rgba(10, 35, 252, 0.5),
    rgba(0, 8, 77, 0)
  );
  flex-direction: row;
  padding: var(--padding-13xl) var(--padding-61xl);
  gap: var(--gap-36xl);
}
.card1 {
  position: absolute;
  top: 1145px;
  left: 0;
  flex-direction: column;
  color: var(--contrast-black70);
}
.designedForAll,
.simplifiedLanguageBlock1,
.xpander2 {
  position: relative;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
}
.xpander2 {
  align-self: stretch;
  line-height: 160%;
  color: var(--contrast-black70);
}
.designedForAll,
.simplifiedLanguageBlock1 {
  font-size: var(--h3sb-size);
  line-height: 140%;
  display: inline-block;
  width: 595px;
}
.designedForAll {
  font-size: var(--p1m-size);
  line-height: 160%;
  font-weight: 500;
}
.card11 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.groupIcon {
  position: absolute;
  height: 29.45%;
  width: 11.56%;
  top: 12.83%;
  right: 77.71%;
  bottom: 57.72%;
  left: 10.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.card1Parent {
  position: absolute;
  top: 1669px;
  left: 469px;
  width: 970px;
  height: 382px;
}
.designedForAll1,
.xpander3 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  display: inline-block;
}
.xpander3 {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--contrast-black70);
  width: 140px;
}
.designedForAll1 {
  font-size: var(--p1m-size);
  font-weight: 500;
  width: 595px;
}
.card12 {
  position: absolute;
  top: 2083px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupIcon1 {
  position: absolute;
  height: 2.34%;
  width: 8.3%;
  top: 41.06%;
  right: 84.75%;
  bottom: 56.61%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.card13 {
  position: absolute;
  top: 2475px;
  left: 473px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.groupIcon2,
.image12Icon {
  position: absolute;
  height: 2.32%;
  width: 8.86%;
  top: 48.55%;
  right: 51.62%;
  bottom: 49.13%;
  left: 39.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image12Icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.logoNew {
  position: relative;
  width: 226.57px;
  height: 120px;
  flex-shrink: 0;
}
.community {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.communityParent,
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frameContainer {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-29xl);
}
.logoNewParent {
  width: 632px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.mditwitterIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.mditwitterParent {
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-29xl);
}
.findUsParent,
.frameGroup,
.mditwitterParent {
  display: flex;
  align-items: flex-start;
}
.findUsParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameGroup {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  background-color: var(--color-midnightblue);
  width: 1440px;
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-61xl) var(--padding-77xl);
  box-sizing: border-box;
  justify-content: space-between;
  font-size: var(--p1m-size);
}
.discussionForum {
  position: relative;
}
.getInvolved,
.participateInOpen {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-family: var(--h6sb);
  text-align: left;
}
.participateInOpen {
  font-size: var(--p1m-size);
  font-weight: 500;
  color: var(--wireframe2);
  display: inline-block;
  width: 326px;
  height: 104px;
  flex-shrink: 0;
}
.getInvolved {
  font-size: var(--h6sb-size);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.cardBottom {
  border-radius: var(--br-base);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  width: 405px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.discussionForum1 {
  position: relative;
  font-size: var(--h3sb-size);
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--h6sb);
  color: var(--wireframe2);
  text-align: left;
  display: inline-block;
  width: 328px;
}
.cardBottomParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.getInvolved3,
.participateInOpen3 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
}
.participateInOpen3 {
  font-weight: 500;
  display: inline-block;
  width: 326px;
  height: 104px;
  flex-shrink: 0;
}
.getInvolved3 {
  font-size: var(--h6sb-size);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.discussionForum5,
.participateInOpen5 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.discussionForum5 {
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  width: 328px;
}
.participateInOpen5 {
  font-size: var(--p1m-size);
  line-height: 160%;
  font-weight: 500;
  width: 326px;
  height: 104px;
  flex-shrink: 0;
}
.cardBottom5 {
  border-radius: var(--br-base);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  width: 405px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--h3sb-size);
}
.frameParent1,
.lineContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.frameParent1 {
  align-self: stretch;
  height: 584px;
  flex-shrink: 0;
  padding: var(--padding-0) var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
}
.lineContainer {
  position: absolute;
  top: 3340px;
  left: calc(50% - 717px);
  width: 1437px;
  height: 624px;
  align-items: flex-end;
  font-size: var(--p1m-size);
}
.image16Icon,
.image17Icon,
.image18Icon {
  position: absolute;
  left: 559px;
  object-fit: cover;
  opacity: 0.3;
}
.image16Icon {
  top: 3548px;
  width: 1221px;
  height: 673px;
  mix-blend-mode: lighten;
}
.image17Icon,
.image18Icon {
  top: 0;
  width: 2829px;
  height: 1585px;
}
.image18Icon {
  top: 1559px;
}
.image16Parent,
.image17Parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 2829px;
  height: 3144px;
}
.image16Parent {
  top: 816px;
  height: 4221px;
  opacity: 0.5;
}
.image16Icon1 {
  position: absolute;
  top: 0;
  left: 559px;
  width: 1204px;
  height: 664px;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.groupParent {
  position: absolute;
  top: 80px;
  left: -559px;
  width: 2829px;
  height: 5037px;
}
.codexColor11Icon {
  position: relative;
  width: 92.8px;
  height: 48px;
  flex-shrink: 0;
  object-fit: cover;
}
.logo {
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.community1 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
}
.community1,
.developers1 {
  cursor: pointer;
}
.developers1,
.grants1 {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  text-transform: capitalize;
  font-weight: 600;
  opacity: 0.5;
}
.logoParent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-529xl);
  font-size: var(--p1m-size);
}
.toImplement {
  position: relative;
  background-color: var(--black-100);
  width: 100%;
  height: 5205px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h6sb-size);
  color: var(--wireframe2);
  font-family: var(--h6sb);
}
