.svgh2dBf2b0720Icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -113.98px;
  width: 1553.98px;
  height: 573.75px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.yourCodexIdentity {
  margin: 0;
}
.yourCodexIdentityContainer {
  position: relative;
  line-height: 60px;
  font-weight: 600;
}
.h1muitypographyRoot {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 68px var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.cdx,
.secureYour {
  position: absolute;
  top: 4px;
  left: 0;
  line-height: 36px;
}
.cdx {
  top: 0;
  left: 135.9px;
  font-size: 26px;
  line-height: 42px;
  color: var(--color-gray-200);
}
.domainForYour,
.theCodexEcosystem {
  position: absolute;
  top: 4px;
  left: 189.92px;
  line-height: 36px;
}
.theCodexEcosystem {
  top: 41.5px;
  left: 0;
  font-size: var(--font-size-3xl);
}
.pmuitypographyRoot {
  position: relative;
  width: 560px;
  height: 78px;
  font-size: var(--font-size-4xl);
  color: var(--color-gainsboro);
}
.divmuigrid2Root {
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.searchAptosNames {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 1042.2px;
  height: 25.5px;
}
.pseudo,
.svgmuisvgiconRoot {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.pseudo {
  width: 1042px;
  height: 25.5px;
  opacity: 0.5;
  z-index: 0;
}
.svgmuisvgiconRoot {
  width: 40px;
  height: 40px;
  z-index: 1;
}
.fieldsetmuioutlinedinputNotc {
  position: absolute;
  margin: 0 !important;
  height: calc(100% + 5px);
  width: 100%;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 1px solid #363a39;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 2;
}
.divmuiinputbaseRoot {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-600);
  flex-direction: row;
  padding: 22.8799991607666px var(--padding-13xl) 22.8700008392334px 26px;
  align-items: center;
  position: relative;
  gap: var(--gap-xs);
  font-size: var(--h6sb-size);
}
.divmuiboxRoot1,
.divmuicontainerRoot,
.divmuiinputbaseRoot {
  display: flex;
  justify-content: flex-start;
}
.divmuicontainerRoot {
  flex-direction: column;
  padding: var(--padding-0) var(--padding-5xs);
  align-items: center;
  gap: var(--gap-13xl);
  z-index: 1;
}
.divmuiboxRoot1 {
  position: absolute;
  top: calc(50% - 334.38px);
  left: calc(50% - 730.5px);
  overflow: hidden;
  flex-direction: row;
  padding: 144px 120px 160px;
  align-items: flex-start;
}
.aptosLabs,
.div {
  position: relative;
  line-height: 19.2px;
}
.aptosLabs {
  font-size: var(--font-size-xs-8);
}
.pmuitypographyRoot1 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs-5) 0.970001220703125px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.97px;
}
.privacy {
  position: relative;
  text-decoration: underline;
  line-height: 19.2px;
}
.divmuigrid2Root2,
.divmuistackRoot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divmuistackRoot {
  flex-direction: row;
  padding: var(--padding-10xs-5) 24.730003356933594px var(--padding-0)
    var(--padding-0);
  gap: 8.21px;
  margin-top: -3.3px;
  font-size: var(--font-size-xs-8);
}
.divmuigrid2Root2 {
  position: absolute;
  top: calc(50% - 23.2px);
  left: 60px;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-9xs) 0.6899986267089844px;
}
.svgmuisvgiconRoot1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.divmuigrid2Root3 {
  position: absolute;
  top: -4px;
  right: -12px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lgi-5) var(--padding-lg) var(--padding-lgi-5)
    var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.divmuigrid2Root1 {
  position: relative;
  width: 1400px;
  height: 55px;
}
.divmuiboxRoot2 {
  position: absolute;
  top: 717.75px;
  left: 0;
  background-color: var(--color-gray-600);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xl) 20px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 10.8px;
  color: var(--color-whitesmoke);
}
.names {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 52.01px;
  flex-shrink: 0;
}
.pmuitypographyRoot2 {
  position: absolute;
  top: -12.5px;
  left: 92px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.amuitypographyRoot {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  width: 143.81px;
  height: 24px;
}
.docs,
.iconDark {
  position: absolute;
}
.docs {
  top: 26px;
  left: 979.45px;
  line-height: 28px;
  text-transform: capitalize;
}
.iconDark {
  top: 25px;
  left: calc(50% + 427.13px);
  width: 30px;
  height: 30px;
}
.connectWallet {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
}
.buttonmuibuttonbaseRoot,
.pmuitypographyRoot3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pmuitypographyRoot3 {
  overflow: hidden;
  padding: var(--padding-0) var(--padding-0) var(--padding-12xs-5);
  align-items: flex-start;
}
.buttonmuibuttonbaseRoot {
  position: absolute;
  top: 20px;
  left: 1169.13px;
  border-radius: var(--br-3xs);
  background: linear-gradient(-82.77deg, #089df1, #082df1 62.19%, #08abf1);
  padding: var(--padding-5xs-5) 21.8699951171875px var(--padding-5xs)
    var(--padding-3xl);
  align-items: flex-end;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--wireframe2);
}
.image12Icon,
.logoNew {
  position: absolute;
  left: 0;
}
.image12Icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logoNew {
  top: calc(50% - 32px);
  width: 118.52px;
  height: 64px;
}
.divmuitoolbarRoot,
.logo {
  position: absolute;
  height: 80px;
}
.logo {
  top: -6px;
  left: -32px;
  width: 119px;
  overflow: hidden;
}
.divmuitoolbarRoot {
  top: 0;
  left: 24px;
  width: 1392px;
  font-size: var(--p1sb-size);
}
.image17Icon {
  position: absolute;
  top: 738px;
  left: 0;
  width: 153px;
  height: 63px;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.divmuiboxRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 828.75px;
}
.wwwaptosnamescomByHtmlto {
  position: relative;
  background-color: var(--color-gray-600);
  width: 100%;
  height: 828.75px;
  text-align: left;
  font-size: 53px;
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
