.discussionForum {
  position: relative;
  font-size: var(--h3sb-size);
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--h3sb);
  color: var(--wireframe2);
  text-align: left;
  display: inline-block;
  width: 328px;
}
.participateInOpen {
  margin: 0;
}
.getInvolved,
.participateInOpenContainer {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 160%;
  font-family: var(--h3sb);
  text-align: left;
}
.participateInOpenContainer {
  font-size: var(--p1sb-size);
  font-weight: 500;
  color: var(--wireframe2);
  display: inline-block;
  width: 326px;
  height: 104px;
  flex-shrink: 0;
}
.getInvolved {
  font-size: var(--h6sb-size);
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-skyblue);
}
.cardBottom {
  border-radius: var(--br-base);
  background: linear-gradient(
    125.84deg,
    rgba(50, 181, 255, 0.7),
    rgba(0, 26, 255, 0.7) 46.88%,
    rgba(50, 181, 255, 0.7) 96.35%
  );
  width: 405px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
