.frameChild {
  position: relative;
  width: 233px;
  height: 0;
  flex-shrink: 0;
}
.theFirstEcosystem {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 580px;
  flex-shrink: 0;
}
.frameItem {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-family: var(--h6sb);
  font-size: var(--font-size-13xl);
  width: 563px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.theFirstEcosystemProvidesNParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-61xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.lineParent {
  position: absolute;
  top: 756px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--h1sb-size);
  color: var(--wireframe2);
  font-family: var(--h6sb);
}
