@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-ubuntu-mono: "Ubuntu Mono";
  --font-rubik: Rubik;
  --p1sb: Raleway;
  --font-material-icons: "Material Icons";
  --font-fira-code: "Fira Code";
  --font-roboto: Roboto;
  --font-noto-sans: "Noto Sans";

  /* font sizes */
  --font-size-2xs: 11px;
  --font-size-mini: 15px;
  --p1sb-size: 16px;
  --h6sb-size: 20px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --h5sb-size: 24px;
  --h2sb-size: 40px;
  --h1sb-size: 48px;
  --h3sb-size: 36px;
  --h4sb-size: 32px;
  --font-size-11xl: 30px;
  --font-size-xs-6: 11.6px;
  --font-size-xs: 12px;
  --font-size-mini-7: 14.7px;
  --font-size-lg: 18px;
  --font-size-smi: 13px;
  --font-size-2xl: 21px;
  --font-size-mini-4: 14.4px;
  --font-size-xs-9: 11.9px;
  --font-size-xs-8: 11.8px;
  --font-size-3xs: 10px;
  --font-size-22xl: 41px;
  --font-size-mid-6: 17.6px;

  /* Colors */
  --color-gray-2100: #fafbfc;
  --color-gray-200: #fafafa;
  --color-gray-300: #909099;
  --color-gray-2200: #8f8f8f;
  --color-gray-1100: #808080;
  --color-gray-400: #272b2a;
  --color-gray-1200: #24292f;
  --color-gray-1300: #25282c;
  --color-gray-2300: #192438;
  --color-gray-1400: #1f2328;
  --color-gray-1500: #202225;
  --color-gray-500: #1b1f1e;
  --color-gray-2400: #0d172b;
  --color-gray-600: #121615;
  --contrast-black-99: #0e0f2d;
  --color-gray-700: #00031f;
  --color-gray-900: rgba(255, 255, 255, 0.23);
  --color-gray-1000: rgba(255, 254, 254, 0.87);
  --color-gray-800: rgba(0, 0, 0, 0.23);
  --color-gray-1600: rgba(255, 255, 255, 0.16);
  --color-gray-1700: rgba(31, 35, 40, 0.15);
  --color-gray-1800: rgba(31, 35, 40, 0.1);
  --color-gray-2500: rgba(255, 255, 255, 0.9);
  --color-gray-2600: rgba(255, 255, 255, 0.3);
  --color-gray-2700: rgba(0, 0, 0, 0.35);
  --color-gray-2800: rgba(255, 255, 255, 0);
  --color-gray-100: rgba(14, 15, 45, 0.9);
  --color-gray-2900: rgba(14, 15, 45, 0.85);
  --color-gray-1900: rgba(255, 255, 255, 0.92);
  --color-gray-2000: rgba(255, 255, 255, 0.65);
  --color-darkslategray-100: #4a4a4a;
  --color-darkslategray-400: #324254;
  --color-darkslategray-200: #333840;
  --color-darkslategray-300: #313439;
  --contrast-black90: #333;
  --color-darkslategray-500: #233043;
  --wireframe2: #fff;
  --color-lightgray-100: #d0d7de;
  --wireframe: #d0d0d0;
  --color-lightgray-200: #ccc;
  --color-plum: #cc99cd;
  --color-sandybrown: #f08d49;
  --color-goldenrod-100: #f5b83d;
  --contrast-black70: #999;
  --color-royalblue-100: #407fff;
  --color-royalblue-200: #3671e9;
  --color-royalblue-300: #0969da;
  --color-royalblue: #0159dd;
  --color-deepskyblue: #54abee;
  --color-deepskyblue-100: #0ea5e9;
  --color-deepskyblue-300: #00add8;
  --color-deepskyblue-200: rgba(14, 165, 233, 0.1);
  --black-100: #000;
  --primary-sky-blue: #009dff;
  --color-midnightblue: rgba(0, 8, 77, 0.5);
  --primary-blue: #2b35c3;
  --color-skyblue: #78dfff;
  --color-skyblue-100: #83cced;
  --color-gainsboro: #e4e4e7;
  --color-gainsboro-100: #d8dee4;
  --color-orangered-100: rgba(224, 68, 7, 0.1);
  --color-lightsalmon: #fd9d7d;
  --color-lightslategray-100: #8091a0;
  --color-honeydew: #cbf5e3;
  --color-greenyellow: #95e300;
  --color-lightsteelblue: #a0aec0;
  --color-lavender: #d8ddf0;
  --color-slateblue-100: #2845ae;
  --color-slateblue-200: #2043b5;
  --color-cornflowerblue: #3178c6;
  --color-cornflowerblue-100: rgba(84, 147, 247, 0.1);
  --color-aliceblue-100: #edf4fe;
  --color-aliceblue: #ddf4ff;
  --color-rosybrown: #d1949e;
  --color-yellowgreen: #bde052;
  --color-dimgray-100: #656d76;
  --color-dimgray: #4f5352;
  --color-khaki: #f1e05a;
  --color-whitesmoke-100: #f6f8fa;
  --color-whitesmoke: #f4f4f5;
  --color-silver: rgba(175, 184, 193, 0.2);

  /* Gaps */
  --gap-42xl-8: 61.8px;
  --gap-5xs: 8px;
  --gap-11xs: 2px;
  --gap-29xl: 48px;
  --gap-101xl: 120px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;
  --gap-529xl: 548px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-496xl: 515px;
  --gap-10xs-5: 2.5px;
  --gap-smi: 13px;
  --gap-36xl: 55px;
  --gap-45xl: 64px;
  --gap-7xl: 26px;
  --gap-4xs-8: 8.8px;
  --gap-12xs: 1px;
  --gap-3xl-7: 22.7px;
  --gap-xl-7: 20.7px;
  --gap-5xl-7: 24.7px;
  --gap-4xl-7: 23.7px;
  --gap-10xl-7: 29.7px;
  --gap-2xl-7: 21.7px;
  --gap-lgi-7: 19.7px;
  --gap-6xl-7: 25.7px;
  --gap-6xs-8: 6.8px;
  --gap-7xl-7: 26.7px;

  /* Paddings */
  --padding-7xs: 6px;
  --padding-5xs-8: 7.8px;
  --padding-5xs: 8px;
  --padding-4xl-5: 23.5px;
  --padding-12xl: 31px;
  --padding-6xl-9: 25.9px;
  --padding-6xl: 25px;
  --padding-12xs-5: 0.5px;
  --padding-base: 16px;
  --padding-0: 0px;
  --padding-4xs-5: 8.5px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-12xs: 1px;
  --padding-61xl: 80px;
  --padding-5xl: 24px;
  --padding-29xl: 48px;
  --padding-77xl: 96px;
  --padding-13xl: 32px;
  --padding-45xl: 64px;
  --padding-8xs-5: 4.5px;
  --padding-7xs-5: 5.5px;
  --padding-xs: 12px;
  --padding-9xs-5: 3.5px;
  --padding-996xl: 1015px;
  --padding-11xl: 30px;
  --padding-17xl: 36px;
  --padding-2xs: 11px;
  --padding-8xs: 5px;
  --padding-sm: 14px;
  --padding-2xs-7: 10.7px;
  --padding-6xs: 7px;
  --padding-mid: 17px;
  --padding-12xs-4: 0.4px;
  --padding-3xs-4: 9.4px;
  --padding-6xs-9: 6.9px;
  --padding-4xs: 9px;
  --padding-21xl-4: 40.4px;
  --padding-9xl: 28px;
  --padding-193xl: 212px;
  --padding-lgi: 19px;
  --padding-9xs: 4px;
  --padding-9xs-9: 3.9px;
  --padding-12xs-2: 0.2px;
  --padding-10xs: 3px;
  --padding-4xs-7: 8.7px;
  --padding-5xs-3: 7.3px;
  --padding-xs-3: 11.3px;
  --padding-xs-7: 11.7px;
  --padding-smi-3: 12.3px;
  --padding-smi-7: 12.7px;
  --padding-smi-5: 12.5px;
  --padding-226xl-4: 245.4px;
  --padding-8xs-6: 4.6px;
  --padding-35xl-2: 54.2px;
  --padding-6xs-2: 6.2px;
  --padding-9xs-1: 3.1px;
  --padding-lgi-6: 19.6px;
  --padding-6xs-7: 6.7px;
  --padding-258xl-6: 277.6px;
  --padding-18xl: 37px;
  --padding-170xl: 189px;
  --padding-39xl-6: 58.6px;
  --padding-210xl-3: 229.3px;
  --padding-56xl-6: 75.6px;
  --padding-218xl-3: 237.3px;
  --padding-31xl-3: 50.3px;
  --padding-24xl: 43px;
  --padding-54xl-8: 73.8px;
  --padding-98xl-3: 117.3px;
  --padding-33xl-9: 52.9px;
  --padding-67xl-3: 86.3px;
  --padding-170xl-9: 189.9px;

  /* border radiuses */
  --br-xl: 20px;
  --br-29xl: 48px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-5xl: 24px;
  --br-10xs: 3px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-base: 16px;
  --br-sm: 14px;
  --br-11xs-5: 1.5px;
  --br-2xs: 11px;
  --br-3xs: 10px;
  --br-mid-5: 17.5px;
  --br-4xl-8: 23.8px;
  --br-xs: 12px;
  --br-581xl: 600px;
  --br-11xs: 2px;

  /* Effects */
  --header1: 0px 5px 45px rgba(1, 89, 221, 0.1);
}
